<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artagit.web.dao.BoardDao">
	<select id="getList" resultType="com.artagit.web.entity.Board">
		 select * 
      from Board
      
	</select>
	
	<select id="get" resultType="com.artagit.web.entity.Board">
		select *
		from Board
		where id =#{id}
	
	</select>
	<insert id="insert" parameterType="com.artagit.web.entity.Board">
		INSERT INTO Board
		(title,
		content,
		memId,
		roleId)
		VALUES
		(#{title},
		#{content},
		3,
		1);
	</insert>
	
	<select id="hitCountUp" parameterType="com.artagit.web.entity.Board">
		UPDATE Board
		SET
		HIT = HIT + 1
		WHERE
		id = #{id}
	</select>
	
	
	
	
</mapper>
 
