<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artagit.web.dao.BoardLikeDao">
	<insert id="add" parameterType="BoardLike">
		insert into BoardLike(memId, postId)
		values(#{memId}, #{postId})
	</insert>
	
	
	<delete id="delete" parameterType="BoardLike">
		delete from BoardLike
		where memId=#{memId} and postId=#{postId}
	</delete>
	
</mapper>
 
