<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artagit.web.dao.BookingDao">

	<select id="getListById" resultType="com.artagit.web.entity.Booking">
		select * from Booking
		where Booking.memId = #{memId};
	</select>
	
	<!-- 예매내역 insert -->
	<insert id="add" parameterType="com.artagit.web.entity.Booking">
		insert into Booking (date, amount, phone, email, memId, exhId)
			values (#{date}, #{amount}, #{phone}, #{email}, #{memId}, #{exhId});
	</insert>
	
	
</mapper>
 
   
   

