<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artagit.web.dao.CorporateDao">
	<select id="get" resultType="com.artagit.web.entity.Corporate">
		select * 
		from Corporate
		where id = #{id}
	</select>
	
	<update id="update" parameterType="com.artagit.web.entity.Corporate">
		update Corporate
 		<set>
 			
 			<if test="museumName != null">museumName = #{museumName},</if>
 			<if test="name != null">name = #{name},</if>
 			<if test="address != null">address = #{address},</if>
 			<if test="phone != null">phone = #{phone},</if>
 			<if test="manager != null">manager = #{manager},</if>
 		</set>
 			where id = #{id}
	</update>
	
	<!-- 주최자 회원가입 -->
	<insert id="insert" parameterType="com.artagit.web.entity.Corporate">
		insert into Corporate(loginId, password, name, phone, ceoName, email, businessNum, manager, managerPhone, roleId, address,addressDetail, museumName, localId)
			values(#{loginId}, #{password}, #{name}, #{phone}, #{ceoName}, #{email}, #{businessNum}, #{manager}, #{managerPhone}, 3, #{address},#{addressDetail}, #{museumName}, 2)
	</insert>
	
		<!-- 사용자가 입력한 id를 가지고 권한 확인하기 위한 쿼리문 -->
	<select id="getByUserName" resultType="com.artagit.web.entity.Corporate">
		select * from Corporate where loginId=#{username}
	</select>
	
	<!-- 사용자가 입력한 정보를 가지고 ID를 확인하기 위한 쿼리문 -->
	<select id="getId" resultType="Corporate">
		select * from Corporate where name = #{name} and email = #{email}
	</select>
	
	<update id="deleteYN" parameterType="com.artagit.web.entity.Corporate">
		update Corporate
 		set useYN = 'N'
 		where id = #{id}
	</update>
	
	<update id="updateAccount" parameterType="com.artagit.web.entity.Corporate">
	update Corporate
<!-- 		<trim prefix="SET" suffixOverrides=","> -->
		<set>		
			<if test="img != null">img=#{img},</if>
			<if test="ceoName != null">ceoName = #{ceoName},</if>
			<if test="name != null">name = #{name},</if>
			<if test="phone != null">phone = #{phone},</if>
			<if test="businessNum != null">businessNum = #{businessNum},</if>
			<if test="address != null">address = #{address},</if>
			
			<if test="password != null"> password = #{password},</if>
			<if test="manager != null">manager = #{manager},</if>
			<if test="email != null">email = #{email},</if>
			<if test="managerPhone!= null">managerPhone = #{managerPhone}</if>
			</set>
<!-- 		</trim> -->
			where id = #{id}
	</update>
	
<!-- 	아이디 중복확인 -->
	<select id="chkId" resultType="int">
		select count(id) from Corporate
			where loginId = #{loginId}
	</select>
	
<!--	주최자가등록한전시날짜에따른필터기능-->
	<select id="getListByDateId" resultType="com.artagit.web.entity.Exhibition">
		select 
			* from Exhibition 
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="state != null and state != 0">
<!-- 				AND stateId = #{stateId} -->
				<if test="state == 1">
					AND startDate <![CDATA[< now() and endDate >= now() - INTERVAL 1 DAY]]>
				</if>
				<if test="state == 2">
					AND startDate <![CDATA[>= now()]]>
				</if>
				<if test="state == 3">
					AND endDate <![CDATA[< now() - INTERVAL 1 DAY]]>
				</if>
			</if>
			and corpId = #{corpId}
		</trim>
		limit 0, 6
	</select>
			
	
</mapper>