<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artagit.web.dao.CorporateDao">
	<select id="get" resultType="com.artagit.web.entity.Corporate">
		select * 
		from Corporate
		where id = #{id}
	</select>
	<update id="update" parameterType="com.artagit.web.entity.Corporate">
	update Corporate
	<set>
         <if test="museumName != null">museumName = #{museumName},</if>
         <if test="address != null">address = #{address},</if>
         <if test="manager != null">manager = #{manager},</if>
         <if test="manmanagerPhoneager != null">managerPhone = #{managerPhone}</if>
      </set>
      where id = #{id}
	</update>
</mapper>