<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artagit.web.dao.ExhibitionDao">
	
	
	<select id="getList" resultType="com.artagit.web.entity.Exhibition">
		select * from Exhibition
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="museumId != null and museumId != 0">
				museumId = #{museumId}
			</if>
			<if test="stateId != null and stateId != 0">
				AND stateId = #{stateId}
			</if>
			<if test="cateId != null and cateId != 0">
				<if test="cateId == 1">
					AND order by startDate desc
				</if>
				<if test="cateId == 2">
					AND order by startDate
				</if>
<!-- 				AND cateId = #{cateId} -->
			</if>
			and useYN = "Y"
		</trim>
		limit #{offset}, #{size}
	</select>
	<select id="get" resultType="com.artagit.web.entity.Exhibition">
		select * from Exhibition
			where id = #{id}
	</select>
	<select id="getListByID" resultType="com.artagit.web.entity.Exhibition">
		select * from Exhibition
		where memId = #{memId}
	</select>
	<select id="getListtt" resultType="com.artagit.web.entity.Exhibition">
		select * from Exhibition
			join Booking 
			on Exhibition.id = Booking.exhId
			where Booking.memId = #{memId};
	</select>
	<select id="count" resultType="int">
		select count(id) from Exhibition
			where name like '%${input}%'	
	</select>
	<select id="getCount" resultType="int">
		select count(id) from Exhibition
			where memId=#{memId};
	</select>
	<insert id="insert" parameterType="com.artagit.web.entity.Exhibition">
		INSERT INTO Exhibition
		(name,
		content,
		poster,
		detailImage,
		startDate,
		endDate,
		startTime,
		endTime,
		ticketPrice,
		ticketStock,
		artist,
		memId,
<!-- 		cateId, -->
<!-- 		stateId, -->
		museumId)
		VALUES
		(#{name},
		#{content},
		#{poster},
		#{detailImage},
		#{startDate},
		#{endDate},
		#{startTime},
		#{endTime},
		#{ticketPrice},
		#{ticketStock},
		#{artist},
		#{memId},
<!-- 		#{cateId}, -->
<!-- 		#{stateId}, -->
		#{museumId});
	</insert>
	
 	<update id="update" parameterType="com.artagit.web.entity.Exhibition">
 		update Exhibition 
<!--  		<set>
 			<if test="name != null">name = #{name},</if>
 			<if test="price != null">price = #{price},</if>
 			<if test="img != null">img = #{img},</if>
 		</set> -->
 		set name = #{name}
 			where id = #{id}
 	</update>

	<delete id="delete">
		delete from Exhibition
			where id = #{id}
	</delete>

</mapper>