<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artagit.web.dao.ExhibitionDao">
	
	
	<select id="getList" resultType="com.artagit.web.entity.Exhibition">
		select * from Exhibition
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="museumId != null and museumId != 0">
				museumId = #{museumId}
			</if>
			<if test="stateId != null and stateId != 0">
				AND stateId = #{stateId}
			</if>
			<if test="cateId != null and cateId != 0">
				AND cateId = #{cateId}
			</if>
			and useYN = "Y"
		</trim>
		limit #{offset}, #{size}
	</select>
	
	<select id="getListBySearch" resultType="com.artagit.web.entity.Exhibition">
		select * from Exhibition
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="query != null">
				name like '%${query}%'
			</if>
			and useYN = "Y"
		</trim>
		limit #{offset}, #{size}
	</select>
	
	<select id="getListByMemberId" resultType="com.artagit.web.entity.ExhibitionView">
		select 
			E.*,
			(select count(exhId) from ExhLike where exhId = E.id group by exhId) hearts,
			(select memId from ExhLike where exhId = E.id and memId = #{memberId}) memberId
		from Exhibition E
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="museumId != null and museumId != 0">
				museumId = #{museumId}
			</if>
			<if test="stateId != null and stateId != 0">
				AND stateId = #{stateId}
			</if>
			
			and useYN = "Y"
			
			<if test="cateId == null or cateId == 0 or cateId == 1">
				order by startDate desc
			</if>
			<if test="cateId == 2">
				order by hearts desc
			</if>
		</trim>
		limit #{offset}, #{size}
	</select>
	
	
	
	
	<select id="get" resultType="com.artagit.web.entity.ExhibitionView">
		select 
			E.*,
			(select memId from ExhLike where exhId = E.id and memId = #{memberId}) memberId
		from Exhibition E
		where id = #{id}
	</select>
	<select id="getListByID" resultType="com.artagit.web.entity.Exhibition">
		select * from Exhibition
		where memId = #{memId} and useYN = 'Y'
	</select>
	<select id="count" resultType="int">
		select count(id) from Exhibition
			where name like '%${input}%'	
	</select>
	<select id="getCount" resultType="int">
		select count(id) from Exhibition
			where memId=#{memId};
	</select>
	<insert id="insert" parameterType="com.artagit.web.entity.Exhibition">
		INSERT INTO Exhibition
		(name,
		content,
		poster,
		detailImage,
		startDate,
		endDate,
		startTime,
		endTime,
		ticketPrice,
		ticketStock,
		artist,
		memId,
<!-- 		cateId, -->
<!-- 		stateId, -->
		museumId)
		VALUES
		(#{name},
		#{content},
		#{poster},
		#{detailImage},
		#{startDate},
		#{endDate},
		#{startTime},
		#{endTime},
		#{ticketPrice},
		#{ticketStock},
		#{artist},
		#{memId},
<!-- 		#{cateId}, -->
<!-- 		#{stateId}, -->
		#{museumId});
	</insert>
	
 	<update id="update" parameterType="com.artagit.web.entity.Exhibition">
 		update Exhibition 
<!--  		<set>
 			<if test="name != null">name = #{name},</if>
 			<if test="price != null">price = #{price},</if>
 			<if test="img != null">img = #{img},</if>
 		</set> -->
 		set name = #{name}
 			where id = #{id}
 	</update>

	<update id="delete" parameterType="com.artagit.web.entity.Exhibition">
		update Exhibition set useYn = 'N' where id = #{id}
	</update>
	
	<delete id="">
		delete from Exhibition
			where id = #{id}
	</delete>

</mapper>