<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artagit.web.dao.ExhibitionDao">
	
	
<!-- 	<select id="getList" resultType="com.artagit.web.entity.Exhibition"> -->
<!-- 		select * from Exhibition -->
<!-- 		<trim prefix="WHERE" prefixOverrides="AND | OR"> -->
<!-- 			<if test="museumId != null and museumId != 0"> -->
<!-- 				museumId = #{museumId} -->
<!-- 			</if> -->
<!-- 			<if test="stateId != null and stateId != 0"> -->
<!-- 				AND stateId = #{stateId} -->
<!-- 			</if> -->
<!-- 			<if test="cateId != null and cateId != 0"> -->
<!-- 				AND cateId = #{cateId} -->
<!-- 			</if> -->
<!-- 			and useYN = "Y" -->
<!-- 		</trim> -->
<!-- 		limit #{offset}, #{size} -->
<!-- 	</select> -->
	
	<select id="getListBySearch" resultType="com.artagit.web.entity.ExhibitionView">
		select 
			E.*,
			(select count(exhId) from ExhLike where exhId = E.id group by exhId) hearts,
			(select memId from ExhLike where exhId = E.id and memId = #{memberId}) memberId
		from Exhibition E
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="query != null">
				name like '%${query}%'
			</if>
			and useYN = "Y"
		</trim>
		order by startDate desc
		limit #{offset}, #{size}
	</select>
	
	<select id="getListByMemberId" resultType="com.artagit.web.entity.ExhibitionView">
		select 
			E.*,
			(select count(exhId) from ExhLike where exhId = E.id group by exhId) hearts,
			(select memId from ExhLike where exhId = E.id and memId = #{memberId}) memberId
		from Exhibition E
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="local != null and local != 0">
				corpLocalId = #{local}
			</if>
			<if test="state != null and state != 0">
<!-- 				AND stateId = #{stateId} -->
				<if test="state == 1">
					AND startDate <![CDATA[< now() and endDate >= now() - INTERVAL 1 DAY]]>
				</if>
				<if test="state == 2">
					AND startDate <![CDATA[>= now()]]>
				</if>
				<if test="state == 3">
					AND endDate <![CDATA[< now() - INTERVAL 1 DAY]]>
				</if>
			</if>
			and useYN = "Y"
			<if test="category == null or category == 0 or category == 1">
				order by startDate desc
			</if>
			<if test="category == 2">
				order by hearts desc
			</if>
		</trim>
		limit #{offset}, #{size}
	</select>
	
	
	
	
	<select id="get" resultType="com.artagit.web.entity.ExhibitionView">
		select 
			E.*,
			(select memId from ExhLike where exhId = E.id and memId = #{memberId}) memberId
		from Exhibition E
		where id = #{id}
	</select>
	<select id="getexh" resultType="com.artagit.web.entity.Exhibition">
		select * from Exhibition
		where id=#{id}
	</select>
	<select id="getListById" resultType="com.artagit.web.entity.Exhibition">
		select * from Exhibition
		where corpId = #{id}
		limit #{offset},#{size};
	</select>
	<select id="getListByIdInit" resultType="com.artagit.web.entity.Exhibition">
		select * from Exhibition
		where corpId = #{id}
		limit #{limit};
	</select>
<!-- 	<select id="getListByID" resultType="com.artagit.web.entity.Exhibition"> -->
<!-- 		select * from Exhibition -->
<!-- 		where useYN = 'Y' -->
<!-- 	</select> -->
	<select id="getListtt" resultType="com.artagit.web.entity.Exhibition">
		select * from Exhibition
			join Booking 
			on Exhibition.id = Booking.exhId
			where Booking.memId = #{memId};
	</select>
	<select id="count" resultType="int">
		select count(id) from Exhibition
			where name like '%${input}%'	
	</select>
	<select id="getCount" resultType="int">
		select count(id) from Exhibition
			where corpId=#{corpId};
	</select>
	<insert id="insert" parameterType="com.artagit.web.entity.Exhibition">
		INSERT INTO Exhibition
		(name,
		content,
		poster,
		detailImage,
		startDate,
		endDate,
		startTime,
		endTime,
		ticketPrice,
		ticketStock,
		artist,
		corpId,
		homepage)
	
		VALUES
		(#{name},
		#{content},
		#{poster},
		#{detailImage},
		#{startDate},
		#{endDate},
		#{startTime},
		#{endTime},
		#{ticketPrice},
		#{ticketStock},
		#{artist},
		#{corpId},
		#{homepage});
	</insert>
	
	<!-- 주최자가 등록한 전시 수정 -->
 	<update id="update" parameterType="com.artagit.web.entity.Exhibition">
 		update Exhibition 
 		<set>
 			<if test="name != null">name = #{name},</if>
 			<if test="content != null">content = #{content},</if>
 			<if test="startDate != null">startDate = #{startDate},</if>
 			<if test="endDate != null">endDate = #{endDate},</if>
 			<if test="startTime != null">startTime = #{startTime},</if>
 			<if test="endTime != null">endTime = #{endTime},</if>
 			<if test="ticketPrice != null">ticketPrice = #{ticketPrice},</if>
 			<if test="ticketStock != null">ticketStock = #{ticketStock},</if>
 			<if test="artist != null">artist = #{artist},</if>
 			<if test="poster != null">poster = #{poster},</if>
<!--  			<if test="poster != null">poster = #{poster},</if> -->
 		</set>
 			where id = #{id}
 	</update>

	<update id="delete" parameterType="com.artagit.web.entity.Exhibition">
		update Exhibition set useYn = 'N' where id = #{id}
	</update>
	
<!-- 	<delete id=""> -->
<!-- 		delete from Exhibition -->
<!-- 			where id = #{id} -->
<!-- 	</delete> -->
	
<!-- 	전시 좋아요 -->
	<select id="getLikeList" resultType="com.artagit.web.entity.ExhLikeList">
		select E.name,E.startDate, E.endDate, E.id, E.poster, C.museumName, M.nickname
			from Member M
			    inner join ExhLike L
			    on M.id = L.memId
				inner join Exhibition E
				on L.exhId = E.id
				inner join Corporate C
				on E.corpId = C.id
		    where L.memId = #{id}
		    order by M.id
		    limit #{offset},#{size};
	</select>
	
	
	<select id="getLast" resultType="com.artagit.web.entity.Exhibition">
		select * from Exhibition
		where corpId =#{corpId}
		order by regDate
		desc
		limit 0 ,1

	</select>

</mapper>