<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artagit.web.dao.MemberDao">
	
	<!-- 사용자가 입력한 id를 가지고 권한 확인하기 위한 쿼리문 -->
	<select id="getByUserName" resultType="Member">
		select * from Member where loginId=#{username}
	</select>
	
	
	<select id="getList" resultType="com.artagit.web.entity.Member">
		select * from Member
			<trim prefix="WHERE" prefixOverrides="AND | OR">
				<if test="field != null">
					${field} like '%${input}%'
				</if>
					and useYN = 'Y'
			</trim>
			limit #{(page-1)*10}, 10
	</select>
	<!--================== 회원 탈퇴 ===================	-->
	<update id="deleteUseYN" parameterType="com.artagit.web.entity.Member">
			update Member 
		<set> useYN = 'N' </set>	 
				where id = #{id}
	</update>
	<!--================== 일반 회원 로그인 ===================-->
	<select id="getByName" resultType="com.artagit.web.entity.Member">
       select *
       from Member
       where loginId = #{loginId}
   </select>	
	
	<!--================== 업체 정보 수정 ===================-->
	
	
	<select id="get" resultType="com.artagit.web.entity.Member">
		select * from Member
			where id = #{id}
	</select>
	
	<select id="count" resultType="int">
		select count(id) from Member
			where name like '%${input}%'	
	</select>
	
	
	<!-- 멤버 회원가입 -->
	<insert id="insert" parameterType="com.artagit.web.entity.Member">
		insert into Member(loginId, password, name, phone, nickname, email, image, roleId)
			values(#{loginId}, #{password}, #{name}, #{phone}, #{nickname}, #{email}, #{image}, #{roleId})
	</insert>
	
	<!--================== 아이디 중복 확인 ===================-->
	<select id="chkId" resultType="int">
		select count(id) from Member
			where loginId = #{loginId}
	</select>

	
	
	
<!-- 	<update id="update" parameterType="com.artagit.web.entity.Member"> -->
<!-- 		update Member -->
<!-- 		<set> -->
<!-- 			<if test="name != null">name = #{name},</if> -->
<!-- 			<if test="price != null">price = #{price},</if> -->
<!-- 			<if test="img != null">img = #{img},</if> -->
<!-- 		</set> -->
<!-- 			where id = #{id} -->
<!-- 	</update> -->

	

	<update id="updatePassword" parameterType="com.artagit.web.entity.Member">
		update Member set password = #{tmpPassword}
			where logignId = #{loginId} and email = #{email}
	</update>

	<update id="withdrawal " parameterType="com.artagit.web.entity.Member">
		update Member
		<set>useYN = 'N'</set>
		where id=38;
	</update>

<!-- 	<update id = "update" parameterType="com.artagit.web.entity.Member"> -->
<!--         update Member -->
<!--         set name=#{name}, nickname =#{nickname}, password=#{password}, email=#{email}, phone=#{phone}  -->
<!--         where id = #{id} -->
<!--     </update> -->
    <update id = "update" parameterType="com.artagit.web.entity.Member">
        update Member
        <set>
 			<if test="name != null">name = #{name},</if>
 			<if test="nickname != null">nickname = #{nickname},</if>
			<if test="password != null">password = #{password},</if>
			<if test="email != null">email = #{email},</if>
			<if test="phone != null">phone = #{phone},</if>
 		</set>
        where id = #{id}
    </update>
	

	<delete id="delete">
		delete from Member
			where id = #{id}
	</delete>

</mapper>