<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artagit.web.dao.NoticeDao">
		<select id="getList" resultType="Notice">
			select * from Notice
				limit #{offset}, #{size}
		</select>
		
		<select id="getNoticeById" resultType="Notice">
			select * from Notice
				where id = #{id}
		</select>
	
		<select id="getListInit" resultType="Notice">
			select * from Notice
			where roleId != 5
			limit #{size}
		</select>
		
		<select id="getListByCategory" resultType="Notice">
			select * from Notice
				<trim prefix="WHERE" prefixOverrides="AND | OR">
					<if test="category != null and category != 0">
						roleId = #{category}
					</if>
					
				</trim>
			order by regDate desc; 
		</select>
</mapper>
