<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artagit.web.dao.NoticeDao">
	<select id="getList" resultType="com.artagit.web.entity.Notice">
		 select * 
      from Notice
    
	</select>
	<select id="get" resultType="com.artagit.web.entity.Notice">
		select *
		from Notice
		where id =#{id}
	
	</select>
	<insert id="insert" parameterType="com.artagit.web.entity.Notice">
		INSERT INTO Notice
		(title,
		content,
		memId,
		roleId)
		VALUES
		(#{title},
		#{content},
		3,
		1);
	</insert>
	
	
	
	
</mapper>
 
