/* ====게시글 카테고리===== */
.board-category-l{
   
    display: flex;
}
.board-category-l>li{
    border-bottom: 2px solid  #9E9E9E;
    /* width: 25%; */
    padding-bottom: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    
}

li.board-selected>span{
    color:#FF6B90;
}

li.board-selected{
    color:#FF6B90;
    border-bottom: 2px solid #FF6B90;
}

.board-category-box{
    padding: 20px 0 10px 0;
}


/* =======공지========== */
.notice{
    display: grid;
    grid-template-columns: 1fr 9fr;
    padding: 0 5px 5px 5px;
    border-bottom: 1px solid  #9E9E9E;
    height: 80px;
    align-items: center;
}
.notice div{
    display: flex;
    align-items: center;
}
.notice-info{
    padding: 10px;
}
.notice-info>div{
    padding-right: 10px;
   
}

.profile{
    width: 20px;
    height: 20px;
    padding-right: 3px;
}

.notice-icon{
    justify-self: center;
}
.notice-title{
    padding: 5px;
    text-overflow:ellipsis;
    overflow:hidden;

    height: 30px;
    font-size: 16px;
    font-weight: bold;
   
}



/* =======게시글 레이아웃========== */

.board-list{
    display: grid;
    grid-template: 
    "category regdate img" 30px
    "title title img" 50px
    "writer post-info img " 30px
    / 1.5fr 2fr 1.5fr;
    padding: 10px;
    border-bottom: 1px solid  #9E9E9E;

}

.board-category-s{
    grid-area: category;
}

.board-regdate{
    grid-area: regdate;
    display: flex;
    justify-content: flex-end;
   
}
.board-title{
    grid-area:title;
    font-size: 16px;
    height: 40px;
    text-overflow: ellipsis;
    overflow:hidden;
}

.post-img{
    
    height: 112px;
    width: 84px;
    
}
.board-post-img-box{
    display: flex;
    grid-area:img;
    justify-content: flex-end;
    
}

.board-writer-info{
    display: flex;
    grid-area:writer;
    align-items: center;
    
    
}

.board-post-info{
    display:flex;
    grid-area:post-info;
    
    justify-content: flex-end;
    align-items: center;
}
.view{
    display: flex;
    padding-right: 10px;
   
}
.like-up{
    display: flex;
    padding-right: 10px;
}
.comment{
    display:flex;
    
}
.writing-img-box{
   
    position: fixed;
    bottom: 0;
    display:inline-block;
    right: 10px;
   
    
}
.writing-img-box img{
    width: 50px;
    height: 50px;
}