.icon{
    background-color: #353535;
    -webkit-mask-size: 16px 16px;
    padding:0;
    
}
.icon-report{
    -webkit-mask-size: 20px 20px;
    cursor:pointer;
}

.post-like-btn{
    cursor:pointer;
}

.post-detail-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #BCBCBC;
}


.current-location{
    display: flex;
}
.current-location > div{
        padding-right: 10px;
}

.post-detail-title{
    display: grid;
    grid-template: 
    "title time" 1fr
    "writer info" 25px /2fr 1fr;
    padding: 5px;
    border-bottom: 1px solid #BCBCBC;
}
.post-detail-title a{
    justify-content: flex-end;
}
.post-title{
    display:flex;
    align-items: center;
    justify-content: left;
    grid-area: title;
    word-break: break-all;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}
.post-reg-time{
    display:flex;
    align-items: center;
    text-justify: flex-end;
    justify-content:flex-end;
    grid-area: time;
    padding-bottom: 5px;
}
.post-writer-info{
    grid-area:writer;
    display:flex;
    align-items: center;
}
.post-info{
  grid-area:info;
  display:flex;
  justify-content: flex-end;
  gap: 5px;
}
.post-info > div{
    display:flex;
    
    align-items: center;
}

.profile-photo{
    height: 12px;
    width: 12px;
}

.board-img{
    max-height: 50%;
    max-width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.text-image-wrapper{
    min-height: 400px;  
}

.post-content{
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #BCBCBC;
   
}

.like{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}
.comment-title{
    
    font-weight: normal;
    font-size: 14px;
}
.comment-title-wrapper{
    display:flex;
     padding: 10px 0 10px 0;
    border-bottom: 1px solid #BCBCBC; 
}
.comment{
    display:flex;
    flex-direction: column;
   
   
}

.comment-detail{
    display: flex;
    flex-direction: column;

    padding: 10px 0 10px 0;
    
    word-break:break-all;
}
.comment-writer-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.comment-writer{
    display:flex;
    align-items: center;
    padding-bottom: 3px;
}


.comment-page{
    display:flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.comment-info{
    display:grid;
  	border-bottom: 1px solid #BCBCBC;
	padding-bottom: 10px;
    grid-template-columns: 110px 80px 1fr;
    align-items: center;

}

.comment-infoline{
	border-bottom: 1px solid #BCBCBC;
	padding-bottom: 10px;
}
.add-modify{
	 justify-self: end;
}
.report{
	    display: flex;
    	justify-content: end;
    	    margin-top: 10px;
}

.re-comment>a{
    color:#FF6B90;
}

.comment-writing{
    display:flex;
    height: 60px;
    padding-top: 10px;
    gap: 5px;
    align-items: center;
}
form .user-name{
    padding-top:10px;
}
.btn-default-fill{
    width: 46px;
    height: 26px;
}

.btn-default-dark{
    width: 46px;
    height: 26px;
   background-color: #b7b5b5;
   border-color: #b7b5b5;
    
}



textarea{
    resize:none;
    width: 85%;
    height: 53px;
    border-radius: 5px;
    border: 1px solid #BCBCBC;
    margin-right: 15px;
    
}
textarea:focus{
    border:none;
    outline-color: #FF6B90;
    caret-color:  #FF6B90;
}

.profile-photo{
    display:flex;
    align-self:center;
    height: 25px;
    width: 25px;
    padding-right: 3px;
    padding-top: 5px;
}
.comment-writing>div{
    max-width: 40px;
    word-break:break-all;
    padding-right: 3px;
}

.comment-writing >img{
    height: 24px;
    width: 24px;
}

.user-name{
    font-weight: bold;
}

.heart-fix{
    padding-top:10px;
}
.icon-report{
    padding-top: 10px;
}

.a-btn{
	color:#FF6C9E;
	font-size:14px;
	margin-right: 20px;
	cursor: pointer;
}
.a-btn-black{
	color:#837e7e;
}


#modal.modal-overlay {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgb(136, 30, 123);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
        #modal .modal-window {
            background: white;
            box-shadow: 0 8px 32px 0 rgb(177, 41, 126);
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            width:  200px;
            height: 100px;
            position: relative;
            top: -100px;
            padding: 10px;
        }
       
        
        #modal .content {
            margin-top: 20px;
             margin-bottom:20px;
            padding: 0px 10px;
            color: gray;
        }
		.button-wrap{
		   margin-left: 30%;
		
		}


  
		
/* 		================================================= */
#modal-popup.modal-overlay {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 3px 5px 0 rgb(136, 30, 123);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
        #modal-popup .modal-window {
            background: white;
            box-shadow: 0 3px 5px 0 rgb(177, 41, 126);
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            width:  200px;
            height: 100px;
            position: relative;
            top: -100px;
            padding: 10px;
        }
       
        
        #modal-popup .content {
            margin-top: 20px;
             margin-bottom:20px;
            padding: 0px 10px;
            color: gray;
        }
		.button-wrap{
		margin-bottom: 10px;
		   margin-left: 35%;
		
		}



        
/*         =============================================== */
		
		
		


        #popup.popup-overlay {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 3px 5px 0 rgb(136, 30, 123);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
        #popup .popup-window {
            background: white;
            box-shadow: 0 3px 5px 0 rgb(177, 41, 126);
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            width:  550px;
            height: 450px;
            position: relative;
            top: -30px;
            padding: 10px;
        }
       
        
        #popup .popup-content {
            margin-bottom: -5px;
            padding: 0px 10px;
            color: gray;
        }
		.button-popup{
            display: flex;
            gap: 70px;
		   margin-left: 32%;
		
		}
		
	.btn{
		cursor: pointer;
	}
	

/* --------pc버전--------------- */
@media (min-width: 992px) {

    .post-container{
        margin-left:200px;
        margin-right:200px;
    }

  }