.icon{
    background-color: #353535;
    -webkit-mask-size: 14px 14px;
    padding:0;
    
}
.icon-report{
    -webkit-mask-size: 20px 20px;
    cursor:pointer;
}

.post-like-btn{
    cursor:pointer;
}


.post-detail-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #BCBCBC;
}


.current-location{
    display: flex;
}
.current-location > div{
        padding-right: 10px;
}

.post-detail-title{
    display: grid;
    grid-template: 
    "title time" 1fr
    "writer info" 25px /2fr 1fr;
    padding: 5px;
    border-bottom: 1px solid #BCBCBC;
}
.post-detail-title a{
    justify-content: flex-end;
}
.post-title{
    display:flex;
    align-items: center;
    justify-content: left;
    grid-area: title;
    word-break: break-all;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}
.post-reg-time{
    display:flex;
    align-items: center;
    text-justify: flex-end;
    justify-content:flex-end;
    grid-area: time;
    padding-bottom: 5px;
}
.post-writer-info{
    grid-area:writer;
    display:flex;
    align-items: center;
}
.post-info{
  grid-area:info;
  display:flex;
  justify-content: flex-end;
  gap: 5px;
}
.post-info > div{
    display:flex;
    
    align-items: center;
}

.profile-photo{
    height: 12px;
    width: 12px;
}

.board-img{
    max-height: 50%;
    max-width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.text-image-wrapper{
    min-height: 400px;  
}

.post-content{
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #BCBCBC;
   
}

.like{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}
.comment-title{
    
    font-weight: normal;
    font-size: 14px;
}
.comment-title-wrapper{
    display:flex;
     padding: 10px 0 10px 0;
    border-bottom: 1px solid #BCBCBC; 
}
.comment{
    display:flex;
    flex-direction: column;
   
   
}

.comment-detail{
    display: flex;
    flex-direction: column;

    padding: 10px 0 10px 0;
    border-bottom: 1px solid #BCBCBC;
    gap: 7px;
    word-break:break-all;
}
.comment-writer-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.comment-writer{
    display:flex;
    align-items: center;
    padding-bottom: 3px;
}


.comment-page{
    display:flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #BCBCBC;
}

.comment-info{
    display:flex;
}

.comment-info>div:nth-child(2){
    padding-left: 10px;
}
.re-comment>a{
    color:#FF6B90;
}

.comment-writing{
    display:flex;
    height: 60px;
    padding-top: 10px;
    justify-content: space-between;
    gap: 5px;
}
form .user-name{
    padding-top:10px;
}
.btn-default-fill{
    width: 45px;
    height: 26px;
}

textarea{
    resize:none;
    width: 80%;
    height: 53px;
    border-radius: 5px;
    border: 1px solid #BCBCBC;
}
textarea:focus{
    border:none;
    outline-color: #FF6B90;
    caret-color:  #FF6B90;
}

.profile-photo{
    display:flex;
    align-self:center;
    height: 20px;
    width: 20px;
    padding-right: 3px;
    border-radius:100px;
}
.comment-writing>div{
    max-width: 40px;
    word-break:break-all;
    padding-right: 3px;
}

.comment-writing >img{
    height: 24px;
    width: 24px;
}

.user-name{
    font-weight: bold;
}

.heart-fix{
    padding-top:10px;
}
.icon-report{
    margin-bottom:5px;
}

#modal.modal-overlay {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgb(136, 30, 123);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
        #modal .modal-window {
            background: white;
            box-shadow: 0 8px 32px 0 rgb(177, 41, 126);
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            width:  200px;
            height: 100px;
            position: relative;
            top: -100px;
            padding: 10px;
        }
       
        
        #modal .content {
            margin-top: 20px;
             margin-bottom:20px;
            padding: 0px 10px;
            color: gray;
        }
		.button-wrap{
		   margin-left: 30%;
		
		}


/* --------pc버전--------------- */
@media (min-width: 992px) {

    .post-container{
        margin-left:200px;
        margin-right:200px;
    }

    .text-image-wrapper{
       padding: 10px;    
    }

    .post-title{
        font-size: 18px;
    }
    

  }