/* 전시 상세 설명 */
.exh-detail-section{
    padding-top: 30px;
}
.exh-detail-table{
    display: grid;
    grid-template-columns: 0.8fr 2fr;
    /* grid-template-rows: ; */
    margin: 0 30px;

    font-size: 14px;
    grid-template-rows: repeat(11,24px);
    align-items: center;
}

.exh-detail{
    /* border : 1px solid #9E9E9E; */
    border-radius:10px; 
    padding-bottom: 20px; 
}

.title{
    text-align: start;
    /* border-bottom: 1px solid #9E9E9E; */
    padding-top: 10px;
    padding-left : 30px;
    font-size: 22px;
}

.exh-detail-img-box{
    display:flex;
    /* grid-area: img; */
    justify-content: center;
    align-self: center;
    padding-top: 10px;
    
    /* padding-top : 35px; */
}

.exh-detail-img{
    /* align-items: center; */
    width: 320px;
}

.item:nth-child(odd){
    font-weight: bold;
}

.user-box{
    display: flex;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top : 50px;
}
/* .btn-hpg{
    width : 80%;
    margin: 0;
} */

.button-box-wrap{
    display: flex;
    justify-content: end;
    padding-top:10px;
    gap:4px;    
}

/* 결제 상세내역 */

.toggle{
    display: flex;
    align-items: center;

}

.payDetail{
    font-size: 16px;
    padding-top:50px;
    padding-bottom: 10px;
}

.exh-detail-pay{
    /* width: 300px; */
    margin-bottom: 100px;
}

.exh-detailPay-table-title{
    /* grid version */
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 1fr 1fr 1fr;
    border-top: 1px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;

}
.exh-detailPay-table{
    /* grid version */
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 1fr 1fr 1fr;
    border-bottom: 1px solid #9E9E9E;

}

.pay{
    height: 40px;
    display: flex;
    /* border-bottom: 1px solid #9E9E9E; */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
}
.pay-colums{
    font-size: 14px;
}

.exh-detailPay-table:not(:last-child){
    border-bottom: 1px solid #9E9E9E;
}

