/* 전시 상세 설명 */
.exh-detail-section{
    padding-top: 30px;
}
.exh-detail-table{
    display: grid;
    grid-template-columns: 0.8fr 2fr;
    /* grid-template-rows: ; */
    margin: 0 30px;

    font-size: 14px;
    grid-template-rows: repeat(11,24px);
    align-items: center;
}

.exh-detail{
    border : 1px solid #9E9E9E;
    border-radius:10px; 
    padding-bottom: 20px; 
}

.title{
    text-align: center;
    border-bottom: 1px solid #9E9E9E;
    padding: 10px 0;
    font-size: 18px;
}

.exh-detail-img-box{
    display:flex;
    /* grid-area: img; */
    justify-content: center;
    align-self: center;
    padding: 10px 0;
}

.exh-detail-img{
    /* align-items: center; */
    width: 300px;
}

.item:nth-child(odd){
    font-weight: bold;
}

.hpg-box{
    display: flex;
    justify-content:center;
    padding-top : 20px;
}
.button-box-wrap{
    display: flex;
    justify-content: end;
    padding-top:10px;
    gap:4px;    
}

/* 결제 상세내역 */
.toggle{
    display: flex;
    align-items: center;

}
.payDetail{
    font-size: 16px;
    padding-top:50px;
    padding-bottom: 10px;
}

.exh-detail-pay{
    /* width: 300px; */
}

.exh-detailPay-table{
    /* display:flex; */
    /* flex-direction: column; */
    /* grid-template-columns: 0.5fr 1.5fr 0.5fr 1fr 1fr 1fr;  */
    /* grid-template-rows: repeat(4, 50px); */
    /* border: 1px solid #9E9E9E; */
    /* border-radius: 10px; */
    /* height: 197px; */
    /* align-items: center; */
    /* justify-items: center; */
    /* vertical-align: middle; */

    /* grid version */
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 1fr 1fr 1fr;
    border-top: 1px solid #9E9E9E;
    /* align-items: center; */
    
    /* border-radius: 10px;     */
}
.pay{
    height: 45px;
    display: flex;
    border-bottom: 1px solid #9E9E9E;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}
.pay:nth-child(n+25):nth-child(-n+30){
    border-bottom: none; 
}







.pay-wrapper{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #9E9E9E;

    /* justify-content: center; */
    /* align-self: center; */
}
.pay-wrapper:last-child{
    border:none;
}


