input[type="time"], input[type="date"] {
	/* cursor: pointer; */
    font-family: Pretendard;
    position: relative;
    width: 95px;
    height: 20px;
    /* margin: 0 34px 0 13px; */
    padding: 0 0px 0 10px;
    font-size: 12px;
    /* font-weight: 400; */
    color: #545454;
    border: 1px solid #9c9c9c;
    border-radius: 5px;

}

input[type="date"] {
    background: url(../../image/icons/calendar-icon.png)
                no-repeat right 10px center / 13px auto;
    background-color: #ffffff;
}

input[type="time"] {
    background: url(../../image/icons/watch-icon.png)
                no-repeat right 10px center / 13px auto;
    background-color: #ffffff;
}

input[type=date]::-webkit-datetime-edit-text { 
    display: none; 
} 

input[type="date"]::-webkit-clear-button,
input[type="time"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button { appearance: none; display: none;}


input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}

input[type="date"]::before,
input[type="time"]::before {
    content: attr(data-placeholder);
    width: 100px;
    overflow: hidden;
    font-weight: 500;
}

input[type="date"]:valid::before,
input[type="time"]:valid::before {
    display: none;
}

input[data-placeholder]:valid::before,
input[data-placeholder]:valid::before {
    color: rgb(109, 109, 109);
    /* color: red; */
    font-size: 20px;
}

input[type="time"]:focus, input[type="date"]:focus {
    border: 0;
    outline: 1px solid #FF6B90;
}

/* 전시 상세 설명 */
.exh-detail-section{
    padding-top: 30px;
}

/* .exh-detail-table{ */
/*     display: grid; */
/*     grid-template-columns: 0.8fr 2.5fr ; */
/*     grid-template-columns: 70px 2.8fr .4fr 2.8fr; */
/*     margin: 0 30px; */

/*     font-size: 14px; */
/*     grid-template-rows: repeat(15, minmax(30px, auto)); */
/*     align-items: center; */
/*     } */
    
.exh-detail-table{
	display: grid;
	/* grid-template-columns: 0.8fr 2.5fr ; */
	grid-template-columns: 70px 3.8fr;
	margin: 0 30px;
	
	font-size: 14px;
	grid-template-rows: repeat(15, minmax(30px, auto));
	align-items: center;
}

.exh-detail{
    /* border : 1px solid #9E9E9E; */
    border-radius:10px; 
    padding-bottom: 20px; 
}

.title{
    text-align: start;
    /* margin-top: 10px;
    margin-left: 30px; */
    margin: 10px 0 10px 30px;
    font-size: 22px;
    width: 360px;
    /* padding: 7px 0px 7px 3px; */
}

.exh-detail-img-box{
    display:flex;
    /* grid-area: img; */
    justify-content: center;
    align-self: center;
    padding-top: 10px;
    
    /* padding-top : 35px; */
}

.exh-detail-img{
    /* align-items: center; */
    width: 320px;
}

/* .item{
    min-width: 70px;
} */

.item:nth-child(odd){
    font-weight: bold;
    /* grid-column: 1/2; */
}

.item:nth-child(even) {
    grid-column: 2/5;
}
.item:nth-child(8), .item:nth-child(12) {
    grid-column: 2/3;
}

.item:nth-child(9), .item:nth-child(13){
    grid-column: 3/4;
}

.item:nth-child(10), .item:nth-child(14) {
    grid-column: 4/5;
}

.item:last-child {
    grid-column: 4/5;
    /* grid-row: 16/17; */
    justify-content: end;
}

.user-box{
    display: flex;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top : 20px;
}
/* .btn-hpg{
    width : 80%;
    margin: 0;
} */

.button-box-wrap{
    display: flex;
    justify-content: end;
    padding-top:10px;
    gap:4px;    
}

/* 결제 상세내역 */

.toggle{
    display: flex;
    align-items: center;

}

.payDetail{
    font-size: 16px;
    padding-top:50px;
    padding-bottom: 10px;
}

.exh-detail-pay{
    /* width: 300px; */
    margin-bottom: 100px;
}

.exh-detailPay-table-title{
    /* grid version */
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 1fr 1fr 1fr;
    border-top: 1px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;

}
.exh-detailPay-table{
    /* grid version */
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 1fr 1fr 1fr;
    border-bottom: 1px solid #9E9E9E;

}

.pay{
    height: 40px;
    display: flex;
    /* border-bottom: 1px solid #9E9E9E; */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
}
.pay-colums{
    font-size: 14px;
}

.exh-detailPay-table:not(:last-child){
    border-bottom: 1px solid #9E9E9E;
}

/* 더보기 */
.feed-information .feed-content {
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align: top;
  }

  .feed-information .feed-content.hidden{
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
  }

  .btn-more{
    font-weight: bold;
    cursor: pointer;
    margin: 0 8px;
}

.modal-action:hover,
.modal-action:active {
    background: #FF6B90;
    color: #ffffff;
    border: none;
    /* border: 1px solid #FF6B90; */
}

div.mody-on {
    border-radius: 5px;
    outline: 1px solid #9c9c9c;
    background-color: #ffffff;
    padding: 2.5px 5px 2.5px 5px;
}

div.mody-on:focus {
    border: 0;
    outline: 1px solid #FF6B90;
}

h1.mody-on:focus {
    /* border-bottom: 1px solid #FF6B90; */
    /* outline: 1px solid #FF6B90; */
    /* border-bottom:  1px solid #FF6B90; */
    border: 0;
    outline-style: 1px solid #FF6B90;
}

/******* PC버전 ****************************************/

@media (min-width: 992px) {
	main {
		width: 800px;
	}
	
	.exh-detail-table{
		display: grid;
		grid-template-columns: 70px 3.8fr;
		margin: 0 30px;
		
		font-size: 15px;
		grid-template-rows: repeat(13, minmax(33px, auto));
	}

	.exh-detail {
	    display: flex;
	}

	.exh-detail-img-box {
	    align-self: flex-start;
	}
	
	.during-time {
		justify-self: center;
	}
	
	.item:nth-child(even) {
	    line-height: 22px;
	    text-align: justify;
	}
	
	.user-box {
	    display: block;
		margin: 0;
	    width: 770px;
	}

	.btn-hpg {
	    width: 100%;
	    height: 20px;
	    font-size: 14px;
	    padding: 5px 0;
	}
	
	.button-box-wrap {
	    padding-top: 20px;
	    gap: 6px;
	    width: 770px;
	}
	
	.exh-detail-pay {
	    width: 770px;
	}
}