

/* ----------------------------------- */


.text {
    color: #545454;
    /* font-size: 13px; */
}

form {
    border-bottom: 1.5px solid rgba(157, 157, 157, 0.353);
    padding: 15px 0;
}

.like-list form {
    /* margin: 15px 0; */
    display: grid;
    justify-content: start;
    align-items: end;
    grid-template: "img blank" 50px
                    "img like" 23px
                    "img title" 18px
                    "img place" 18px
                    "img date" 55px / 170px;
}

.exh-img-box {
    grid-area: img;
}

.exh-like {
    grid-area: like;
    font-size: 14px;
}

.exh-title {
    grid-area: title;
}

.exh-place {
    grid-area: place;
}

.exh-date {
    grid-area: date;
}

.exh-img {
    margin-left: 10px;
}
