/******* 마이페이지 서브 메뉴 속성 ****************************************/
.profile-box{
    display: none;
}

.menu-list {
    padding : 20px 0 10px 0;
    display: flex;
}

.list{
    border-bottom: 2px solid #A8A8A8;
    /* width: 25%; */
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.line-on{
    border-bottom: 2px solid #FF6B90;
}


li .deco-ticket-on {
    /* color: #FF6B90; */
}


/******* ID/PW 찾기 메뉴 속성 ****************************************/
.find-box {
    margin-top: 15px;
    height: 40px;
    display: flex;
    /* text-align: center; */
}

.find {
    /* height: 100%; */
    align-items: center;
    border-bottom: 2px solid #A8A8A8;

    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.find-id::before {
    content: '아이디 찾기';
}

.find-pw::before {
    content: '비밀번호 초기화';
}


/******* 커뮤니티 메뉴 속성 ****************************************/
.total-brd::before {
    content: '전체글';
}

.free-brd::before {
    content: '자유게시판';
}

.exh-review-brd::before {
    content: '전시후기';
}

.food-review-brd::before {
    content: '맛집후기';
}

.together-brd::before {
    content: '같이가요';
}


/* 메뉴 클릭 시 변경되는 속성 */
.select-on {
    color: #FF6C9E;
    border-bottom: 2px solid #FF6C9E;
}



/******* 마이페이지 pc버전용 사이드 메뉴 속성 ****************************************/
@media (min-width: 993px){ 
    .menu-box{
        display:inline-block;
    }

    .profile-box{
        display: flex;
        width: 180px;
        height: 230px;
        border:1.5px solid rgba(157, 157, 157, 0.353);
        border-radius: 10px;
        /* margin-bottom: 20px;   */
    }

    .profile-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin:0 auto;
        justify-content: center;
        align-items: center;
    }

    .profile-img-box{
        display: flex;
        width: 130px;
        height: 130px;
        border-radius: 70%;
        overflow: hidden;

    }

    .profile-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .profile-name{
        font-size: 18px;
        display: flex;
        justify-content: center;
    }
    .menu-list{
        display:flex;
        flex-direction: column;
        width: 200px;
    }

    .list{
        justify-content: left;
        line-height: 40px;
        border-bottom:2px solid rgba(157, 157, 157, 0.353);
    }

    .deco{
        display: flex;
        flex-direction: row;
        gap:20px;
        font-size: 18px;
    }
}