<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--configFragment 선언-->
<th:block th:fragment="config">

   <!-- 이 영역에 공통으로 사용할 css, js library를 선언한다. -->
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/deco.css" type="text/css" rel="stylesheet">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    
    <link href="../css/icon.css" type="text/css" rel="stylesheet">
    <link href="../css/button.css" type="text/css" rel="stylesheet">
    <link href="../css/form.css" type="text/css" rel="stylesheet">
    
    <link href="../css/utils.css" type="text/css" rel="stylesheet">
    
    
	<script src="../js/header-menu.js"></script>


    <link href="../css/header.css" type="text/css" rel="stylesheet">
    <link href="../css/footer.css" type="text/css" rel="stylesheet">

   <!-- Content Page의 CSS fragment 삽입 -->
   <th:block layout:fragment="css"></th:block>

   <!-- Content Page의 script fragment 삽입 -->
   <!-- <th:block layout:fragment="script"></th:block> -->

</th:block>
</html>