<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer class="footer">
        <h1 class="d-none">footer</h1>
        <div class="footer-inf">
            <div class="footer-btn-list">
                <a class="btn btn-rec btn-default-line footer-btn" href="login.html">로그인</a>
                <a class="btn btn-rec btn-default-line footer-btn" href="">PC버전</a>
            </div>
            <h1>ARTAGIT</h1>
            <div>대표자: 주성균</div>
            <div>사업자등록번호: 123-45-67890</div>
            <div>주소: 3F, 23, Baekbeom-ro, Mapo-gu, Seoul, Republic of Korea</div>
            <div>대표번호: 1588-1588</div>
            <div>이메일 문의:admin@artagit.com</div>
            <small>Copyright 2022. ARTAGIT All rights reserved.</small>
        </div>
    </footer>
</html>