<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block layout:fragment="css">
	<script src="/js/header-menu.js" defer></script>
<!-- 	<script src="/js/modal.js"></script> -->
</th:block>

<body id="body">
    <header class="header">
        <section class="header-wrapper">
            <div class="header-box">
                <h1 class="logo"><a href="/">Art Agit</a></h1>
                <div class="header-menu-box">
                    <div>
                        <a class="icon icon-search btn-open-modal" href="">검색</a>
                    </div>                      
                    <div>
                        <a class="icon icon-menu burger-nav" href="">확장메뉴</a>
                    </div>
                </div>
            </div>
            <div class="sub-menu-box">
                <div class="sub-menu">
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="/exhibition/list">전시</a></li>
                            <li><a href="/board/list">커뮤니티</a></li>
                            <li><a href="/corp/exh/reg" sec:authorize="hasAnyRole('ADMIN','CORP')">전시등록</a></li>
                        </ul>
                    </div>
                    <div class="sub-menu-2">
                        <ul>
                            <li>
                            	<span sec:authentication="principal">테스트</span>
<!--                            로그인되지 않은 사용자는 회원가입 -->
                            	<a href="/signup-choice" sec:authorize="isAnonymous()">회원가입</a>
<!--                            admin 이거나 corp면 내 전시등록 리스트 -->
                           	    <a href="/corp/exh/list" sec:authorize="hasAnyRole('ADMIN','CORP')">
                            		<span sec:authentication="principal.username"></span>
                           		</a>
<!--                            role이 member면 내 예매 리스트 -->
                            	<a href="/member/mypage/review/list" sec:authorize="hasAnyRole('MEMBER')">
                            		<span sec:authentication="principal.username"></span>
                           		</a>
                           	</li>
                            <li>
<!--                            로그인하지않은 사용자는 로그인 띄우기 -->
	                            <a href="/user/login" sec:authorize="isAnonymous()">로그인</a>
<!-- 	                        로그인한 사용자는 로그아웃 띄우기 -->
	                            <a href="/user/logout" sec:authorize="isAuthenticated()">로그아웃</a>
                            </li>
                            <li><a href="/customer_notice">고객센터</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- 모달 전체 -->
	    <div class="modal">
	        <div class="icon icon-close btn-close">닫기</div>
	        <!-- 모달 창 -->
	        <div class="modal-body modal-search">
	            <!-- 모달 내용 -->
	            <form action="/exhibition/search" method="GET">
	                <input class="input input-search header-search" type="text" placeholder="전시 검색">
	                <button type="submit" name="q" class="icon icon-search btn-search" value="바보">검색</button>
	            </form>
	        </div>
	    </div>
    </header>

    <!-- =====pc버젼 용 html============ -->
    <header class="header-pc">
        <div class="content-box">
            <h1 class="logo">
                <a href="/">
                	<img src="/image/artagit-icon.png" style="width:44px;">
                	Art Agit
                </a>
            </h1>
            <section>
                <h1 class="d-none">메인메뉴</h1>
                <nav class="main-menu">
                    <h1 class="d-none">목록선택</h1>
                    <ul>
                       	<li class="search-btn-pc" style="width:50px;">
                            <a class="icon icon-search btn-open-modal" href="">검색</a>
                            <div>
                                <input type="text" class="search">
                                <img src="../image/icons/search.svg" alt="">
                            </div>
                        </li>
                    	<li sec:authorize="hasAnyRole('ADMIN','CORP')" ><a href="/corp/exh/reg" >전시등록</a></li>
                        <li>
                            <a href="/exhibition/list">전시</a>
<!--                             <ul class="sub-menu">
                                <li><a href="/exhibition/list">진행 전시</a></li>
                                <li><a href="/api/lists?p=1&l=0&s=2&c=1">전시 예정</a></li>
                            </ul> -->
                        </li>
                        <li>
                            <a href="/board/list">커뮤니티</a>
                            <ul class="sub-menu">
                                <li><a href="/board/list">자유게시판</a></li>
                                <li><a href="/board/list">전시후기</a></li>
                                <li><a href="/board/list">맛집후기</a></li>
                                <li><a href="/board/list">같이가요</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="/customer_notice">고객센터</a>
                       	</li>
                        <li>
<!--                        로그인되지 않은 사용자는 회원가입 -->
                          	<a href="/signup-choice" sec:authorize="isAnonymous()">회원가입</a>
<!--                       	admin 이거나 corp면 내 전시등록 리스트 -->
                            <a href="/corp/exh/list" sec:authorize="hasAnyRole('ADMIN','CORP')">
                       		<span sec:authentication="principal.username"></span>
                       		</a>
<!--                        role이 member면 내 예매 리스트 -->
                          	<a href="/member/mypage/review/list" sec:authorize="hasAnyRole('MEMBER')">
                      		<span sec:authentication="principal.username"></span>
                       		</a>
                        </li>
                        
                        <li>
<!--                   		로그인하지않은 사용자는 로그인 띄우기 -->
	                        <a href="/user/login" sec:authorize="isAnonymous()">로그인</a>
<!-- 	                    로그인한 사용자는 로그아웃 띄우기 -->
	                        <a href="/user/logout" sec:authorize="isAuthenticated()">로그아웃</a>
                        </li>
                    </ul>

                </nav>
            </section>
        </div>
        <!-- 모달 전체 -->
	    <div class="modal">
	        <div class="icon icon-close btn-close">닫기</div>
	        <!-- 모달 창 -->
	        <div class="modal-body modal-search">
	            <!-- 모달 내용 -->
	            <form action="/exhibition/search" method="GET">
	                <input class="input input-search header-search" type="text" placeholder="전시 검색">
	                <button type="submit" name="q" class="icon icon-search btn-search" value="바보">검색</button>
	            </form>
	        </div>
	    </div>
    </header>

    
</body>
</html>