<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<th:block th:replace="~{inc/config::config}" ></th:block>
	
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Agit</title>
    <link rel="icon" href="/image/파비콘.png">
</head>

<body>
	<div th:replace="~{inc/header::header}"></div>
	
	<div layout:fragment="content"></div>
	
	<div th:replace="~{inc/footer::footer}"></div>
</body>

</html>
