<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">
   <!-- ---------------------------------------------------------------------- -->  
   	<th:block layout:fragment="css">
	    <link href="../../css/customer-center.css" type="text/css" rel="stylesheet">
	    <script src="../../js/header-menu.js"></script>
	    <script src="../../js/customer-center.js"></script>
	    <script type="../../text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f83ef3606f2a72bf9f1425fe76734149"></script>
	</th:block>

<body layout:fragment="content">

	<main>
        <div class="customer-center">고객센터</div>

<!--         ------------------- 자주 묻는 질문 ------------------- -->
        <div class="icon-title">
            <img class="question-icon" src="../../image/icons/question.png">
            <h1 class="text question-h1">자주 묻는 질문</h1>
        </div>
        
        <section class="section">
            <div class="qna-box">
                <h4 class="text accordion-header"><span class="text q-numbering">Q</span>[전시] 전시 예매는 어떻게 하나요?</h4>
                <div class="accordion-content">
                    <p class="">전시 예매는 전시 상세페이지에서 예매 가능합니다 :)</p>
                </div>


                <h4 class="text accordion-header"><span class="text q-numbering">Q</span>[전시] 결제취소를 하고 싶어요.</h4>
                <div class="accordion-content">
                    <p class="">결제 취소는 마이페이지 - 나의 결제내역 에서 하실 수 있습니다.</p>
                </div>


                <h4 class="text accordion-header"><span class="text q-numbering">Q</span>[전시] 전시회/전시관 정보가 올바르지 않아요.</h4>
                <div class="accordion-content">
                    <p class="">아트아지트의 작가, 작품정보는 문화관광부, 예술정보원 등의 공공데이터를 기반으로 구축되었습니다. <br>
                        이에, 실시간으로 정확하지 않은 정보가 있을 수 있음을 양해 부탁드리며,<br>
                        전시회 및 작가 프로필 등이 사실과 다를 경우, contact@art-agit.co.kr 로 메일을 보내주시거나, 주성균님께 연락을 주시면 최대한 빨리 수정 반영해드리겠습니다.</p>
                </div>


                <h4 class="text accordion-header"><span class="text q-numbering">Q</span> [커뮤니티] 게시글 작성은 어떻게 하나요?</h4>
                <div class="accordion-content">
                    <p class="">아트아지트의 커뮤니티 게시글 작성은 회원만 가능합니다. <br> 글 작성 및 댓글 작성을 원하실 경우에는 회원가입 후 이용 부탁드립니다.</p>
                </div>

            </div>

<!--         ------------------- 공지사항 ------------------- -->
        <div class="icon-title notice">
            <img class="notice-icon" src="../../image/icons/notify.png">
            <h1 class="text question-h1">공지사항</h1>
        </div>
        

            <div th:each="list:${list}" th:attr="data-id=${list.id}" class="notice-box">
                <span class="text sm-text notice-category">일반</span>
<!--                 <h4 th:text="${list.title}" class="text accordion-header">회원님들 그만 좀 싸우세요 진짜.</h4> -->
                <section>
	                <h4 th:text="${list.title}" class="text notice-title">회원님들 그만 좀 싸우세요 진짜.</h4>
					<span  th:text="${#dates.format(list.regDate, 'yy-MM-dd')}" class="text notice-date"></span>
                </section>
<!--                 <div class="accordion-content"> -->
<!--                     <span th:text="${#dates.format(list.regDate, 'yyyy-MM-dd')}" class="text sm-text date">2022.10.14</span> -->
<!--                     <img class="img-content" th:src="@{|/image/poster/${list.image}|}" src="../../image/전시포스터2.jpg" alt="공지사항 이미지"> -->
<!--                     <p th:text="${list.content}" class="">계속되는 경고에도 다툼을 멈추지 않으시는 회원님들께는 엄중한 처벌을 내리겠습니다. 적당히 하세요.</p> -->
<!--                 </div> -->
            </div>
        </section>
    </main>

<!--         <section> -->
<!--             <div class="icon-title notice"> -->
<!--                 <img class="img" src="image/icons/notify.png"> -->
<!--                 <h1 class="text question-h1">공지사항</h1> -->
<!--             </div> -->
			
<!-- 			<div th:each="list:${list}" class="container-box"> -->
<!-- 	            <div class="title-box"> -->
<!-- 	                <span class="text sm-text notice-category">일반</span> -->
<!-- 	                <div th:text="${list.title}" class="notice-content-box">회원님들 그만 좀 싸우세요 진짜.</div> -->
<!-- 	            </div> -->
<!-- 	            <div class="content-box"> -->
<!-- 	                <span th:text="${#dates.format(list.regDate, 'yyyy-MM-dd')}" class="text sm-text date">2022.10.14</span> -->
<!-- 	                <img class="img-content" src="image/exhimage.png" alt="공지사항 이미지"> -->
<!-- 	                <p th:text="${list.content}" class="text-content">계속되는 경고에도 다툼을 멈추지 않으시는 회원님들께는 엄중한 처벌을 내리겠습니다. 적당히 하세요.</p> -->
<!-- 	            </div> -->
<!--             	<hr> -->
<!--             </div> -->
<!--         </section> -->
<!--     </main> -->
</body>
</html>

<!-- 	<main> -->
<!-- 		<section class="notice-detail-container"> -->
<!-- 			<h1 class="notice-detail-title">회원님들 그만 좀 싸우세요 진짜.</h1> -->
<!-- 			<span class="notice-detail-date">관리자&nbsp;&nbsp;2023. 01. 17</span> -->
<!-- 			<div class="notice-detail-content"> -->
<!-- 				<p> -->
<!-- 				안녕하세요.<br> -->
<!-- 				버킷플레이스는 고객님들의 개인정보를 더욱 투명하고 안전하게 관리하고자 개인정보처리방침을 공개하고 있으며,<br> -->

<!-- 				변경사항 발생 시 공지사항을 통해 오늘의집 고객분들에게 안내하고 있습니다.<br> -->

<!-- 				새롭게 바뀌는 개인정보처리방침 내용을 확인하시고 서비스 이용에 참고하시기 바랍니다.<br>  -->
<!-- 				</p> -->
<!-- 			</div> -->
<!-- 			<button class="notice-detail-back">목록보기</button> -->
<!-- 		</section> -->
<!-- 		</main> -->