<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전시등록</title>
    
    
    <th:block layout:fragment="css">
	    <link href="/css/component/reg.css" type="text/css" rel="stylesheet">
	    <link href="/css/signup.css" type="text/css" rel="stylesheet">
	    <script src="/js/signup.js"></script>
    </th:block>
</head>

<body spellcheck="false" layout:fragment="content">
    <main class="main-container">
        <section class="reg-list">
            <form action="" method="post">
                <h1>회원정보 입력</h1>
                <div class="reg-list-input-box value-check-box">
                    <label for="login-id">아이디</label>
                    <input id="login-id" name="loginId" type="text" required class="input input-lg input-check" placeholder="영문자, 숫자 포함 6~16자">
                </div>
                <span class="idFialure-message d-none message">영문자, 숫자 포함 6~16자만 가능합니다.</span>
                <span class="idSuccess-message d-none message">사용 가능한 아이디입니다</span>
                <span class="id-check-massage d-none message message-id">중복된 아이디입니다</span>
               
                <div class="reg-list-input-box">
                    <label for="password">비밀번호</label>
                    <input id="password" name="password" type="password" required class="input input-lg" placeholder="영문자, 숫자 포함 8자 이상">
                </div>
                <span class="passwordFialure-message d-none message">영문자, 숫자 포함 8자 이상만 가능합니다.</span>
                <span class="passwordSuccess-message d-none message">사용 가능한 비밀번호입니다</span>

                <div class="reg-list-input-box">
                    <label for="password-check">비밀번호 확인</label>
                    <input id="password-check" name="password" type="password" required class="input input-lg" placeholder="영문자, 숫자 포함 8자 이상">
                </div>
                <span class="chkFialure-message d-none message">비밀번호가 일치하지 않습니다</span>
                <span class="chkSuccess-message d-none message">비밀번호가 일치합니다</span>
               
                <div class="reg-list-input-box">
                    <label for="name">이름</label>
                    <input id="name" name="name" type="text" class="input input-lg">
                </div>
                <div class="reg-list-input-box">
                    <label for="nickname">닉네임</label>
                    <input id="nickname" name="nickname" type="text" class="input input-lg">
                </div>
                <div class="reg-list-input-box">
                    <label for="email">이메일</label>
                    <input id="email" name="email" type="email" class="input input-lg">
                </div>
                <div class="reg-list-input-box">
                    <label for="phone">휴대폰</label>
                    <input id="phone" name="phone" type="text" class="input input-lg">
                </div>
                <div class="reg-button-box">
                    <button id="btn-join" type="submit" class="btn btn-default btn-default-fill btn-xl">가입하기</button>
                </div>
            </form>
        </section>
    </main>

</body>
</html>