<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">
	
	<th:block layout:fragment="css">
	    <link href="/css/component/reg.css" type="text/css" rel="stylesheet">
	    <link href="/css/signup-corp.css" type="text/css" rel="stylesheet">
	
		<script src="/js/signup-corp.js"></script>
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	</th:block>

<body layout:fragment="content">
    
    <main>
        <!-- 회원  -->
        <div class="signup-corp">
            <h1>업체 회원가입</h1>
        </div>

        <!-- 사업자 정보 -->
        <section class="reg-list">            
            <form action="/user/corp/signup" method="post" class="signup">
                <div class="toggle">
                    <h1 class="accordion-header">사업자 정보</h1>
                    <div class="icon arrow-icon icon-arrow-toggle-down"></div>
                </div>

                <section class="reg-list-box accordion-content">
                	
                    <div class="reg-list-input-box">
                        <label for="login-id">사업자 등록 번호</label>
                        <div>
                            <input name="businessNum" id="businessNum" type="text" required class="input input-md-2" spellcheck="false" placeholder="10자리 ('-'제외)">
                            <button class="btn btn-default btn-default-fill btn-default-fill btn-certify">인증</button>
                        </div>
                    </div>
                    
                    <div class="reg-list-input-box">
                        <label for="login-id">아이디</label>
                        <div>
                        	<input name="loginId" id="login-id" type="text" required class="input input-lg input-check" spellcheck="false" placeholder="영문자, 숫자 포함 6~16자">
                        </div>   
                    </div>
                    <div class="id-confirm">
                    	<span class="idFialure-message d-none">사용 불가능한 아이디입니다</span>
		                <span class="idSuccess-message d-none">사용 가능한 아이디입니다</span>
		                <span class="id-check-massage d-none">중복된 아이디입니다</span>
                    </div>
                    <div class="reg-list-input-box">
                        <label for="password">비밀번호</label>
                        <div>
                        	<input name="password" id="password" type="password" required class="input input-lg"
                            placeholder="영문자, 숫자 포함 8자 이상" spellcheck="false">
                        </div>        
                   	</div>
        			<div class="password-confirm">
                        <span class="passwordFialure-message d-none">사용 불가능한 비밀번호입니다</span>
                  		<span class="passwordSuccess-message d-none">사용 가능한 비밀번호입니다</span>
                	</div>
                    <div class="reg-list-input-box">
                        <label for="password-check">비밀번호 확인</label>
                        <div>
                        	<input name="password-check" id="password-check" type="password" required class="input input-lg"
                            placeholder="영문자, 숫자 포함 8자 이상" spellcheck="false">
                        </div> 
                    </div>
					<div class="password-confirm">  
                            <span class="chkFialure-message d-none">비밀번호가 일치하지 않습니다</span>
                   			<span class="chkSuccess-message d-none">비밀번호가 일치합니다</span>
                   	</div>
    
                    <div class="reg-list-input-box">
                        <label for="exh-name">전시관 이름</label>
                        <div>
                        	<input name="museumName" id="exh-name" required type="text" class="input input-lg" spellcheck="false">
                        </div>
                    </div>
        
                    <div class="reg-list-input-box">
                        <label for="ceo-name">대표자명</label>
                        <div>
                        	<input name="ceoName" id="ceo-name" required type="text" class="input input-lg" spellcheck="false">
                    	</div>
                    </div>
        
                    <div class="reg-list-input-box">
                        <label for="corp-name">법인명</label>
                        <div>
                        	<input name="name" id="corp-name" required type="text" class="input input-lg" spellcheck="false">
                    	</div>
                    </div>
                    <div class="reg-list-input-box">
                        <label for="corp-phone">대표 전화번호</label>
                        <div>
                        	<input name="phone" id="corp-phone" type="text" required class="input input-lg">
                    	</div>
                    </div>
        
                    <div class="reg-list-input-box">
                        <label for="address">전시관 주소</label>
                        <div id="address_kakao">
                            <input name="corpAddress" id="address" type="text" required class="input input-md-2" placeholder="주소 입력" spellcheck="false">
                            <button id="address_kakao"  class="btn btn-default btn-default-fill address-detail" >주소검색</button>
                        </div>
                    </div>
                        	<input name="addressDetail" id=""  type="text" class="input input-lg address-detail" placeholder="상세 주소 입력" spellcheck="false">
        
                </section>
        
        
                <!-- 담당자 정보 -->
                <div class="toggle">
                    <h1 class="accordion-header">담당자 정보</h1>
                    <div class="icon arrow-icon icon-arrow-toggle-up"></div>
                </div>
                
                <section class="reg-list-box accordion-content">
                    
                    <div class="reg-list-input-box">
                        <label for="name">이름</label>
                        <div>
                        	<input name="manager" id="manager" required type="text" class="input input-lg" spellcheck="false">
                    	</div>
                    </div>
                    
                    <div class="reg-list-input-box">
                        <label for="email">이메일</label>
                        <div>
                        <input name="email" id="email" required type="email" class="input input-lg" spellcheck="false">
                    	</div>
                    </div>
                    <div class="reg-list-input-box">
                        <label for="phone">휴대폰</label>
                        <div>
                        	<input name="managerPhone" id="managerPhone" required type="text" class="input input-lg" spellcheck="false">
                    	</div>
                    </div>
                    
                    <!-- 가입 -->
                </section>
                <div class="reg-button-box">
                    <button type="submit" class="btn btn-default-fill btn-xl btn-signup">가입하기</button>
                </div>
            </form>
        </section>
    </main>

</body>
</html>