<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전시등록</title>
    <link href="css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/style.css" type="text/css" rel="stylesheet">

    <link href="../css/icon.css" type="text/css" rel="stylesheet">
    <link href="../css/button.css" type="text/css" rel="stylesheet">
    <link href="../css/form.css" type="text/css" rel="stylesheet">
    <link href="../css/input.css" type="text/css" rel="stylesheet">
    
    <link href="../css/reg-component.css" type="text/css" rel="stylesheet">
    <link href="../css/header.css" type="text/css" rel="stylesheet">
    <link href="../css/footer.css" type="text/css" rel="stylesheet">
    <link href="../css/signup.css" type="text/css" rel="stylesheet">

    <link href="../css/utils.css" type="text/css" rel="stylesheet">
</head>
<script src="../js/header-menu.js"></script>
<body>
    <header class="header">
        <section class="header-wrapper">
            <div class="header-box">
                <h1 class="logo"><a href="">Art Agit</a></h1>
                <ul class="d-none">
                    <!-- <li><a href="">전시</a></li>
                    <li><a href="">커뮤니티</a></li>
                    <li><a href="">로그인</a></li> -->
                </ul>
                <div>
                    <a class="icon icon-menu burger-nav" href="">확장메뉴</a>
                </div>
            </div>
            <div class="sub-menu-box">
                <div class="sub-menu">
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="">전시</a></li>
                            <li><a href="">커뮤니티</a></li>
                            <li><a href="">-</a></li>
                        </ul>
                    </div>
                    <div class="sub-menu-2">
                        <ul>
                            <li><a href="">로그인</a></li>
                            <li><a href="">검색</a></li>
                            <li><a href="">고객센터</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <main class="main-container">
        <section class="reg-list">
            <form action="signup" method="post">
                <h1>회원정보 입력</h1>
                <div class="reg-list-input-box">
                    <label for="login-id">아이디</label>
                    <div>
     			  <input name="loginId" id="login-id" type="text" required class="input input-md">

                        <button class="btn btn-default btn-default-fill">중복확인</button>
                    </div>
                </div>
                <div class="reg-list-input-box">
                    <label for="password">비밀번호</label>
                    <input name="password" id="password" type="password" required class="input input-lg" placeholder="영문자, 숫자, 특수문자 포함 8자 이상">
                </div>
                 <input id="password-check" type="password" required class="input input-lg" placeholder="영문자, 숫자, 특수문자 포함 8자 이상">

                </div>
                <div class="reg-list-input-box">
                    <label for="name">이름</label>
                    <input name="name" id="name" type="text" class="input input-lg">
                </div>
                <div class="reg-list-input-box">
                    <label for="nickname">닉네임</label>
                    <input name="nickname" id="nickname" type="text" class="input input-lg">
                </div>
                <div class="reg-list-input-box">
                    <label for="email">이메일</label>
                    <input name="email" id="email" type="email" class="input input-lg">
                </div>
                <div class="reg-list-input-box">
                    <label for="phone">휴대폰</label>
                    <input name="phone" id="phone" type="text" class="input input-lg">
                </div>
                <div class="reg-button-box">
                    <button type="submit" class="btn btn-default btn-default-fill btn-login-xl">가입하기</button>
                </div>
            </form>
        </section>
    </main>




    <footer class="footer">
        <h1 class="d-none" style="display: none;">footer</h1>
        <div class="footer-inf">
            <div class="footer-btn">
                <a class="btn btn-rec btn-default-line" href="">로그인</a>
                <a class="btn btn-rec btn-default-line" href="">PC버전</a>
            </div>
            <h1>ARTAGIT</h1>
            <div>대표자: 주성균 | 3F, 23, Baekbeom-ro, Mapo-gu, Seoul, Republic of Korea</div>
            <div>사업자등록번호: 123-45-67890</div>
            <div>이메일 문의:admin@artagit.com | 대표번호: 1588-1588</div>
            <small>Copyright 2022. ARTAGIT All rights reserved.</small>
        </div>
    </footer>

</body>
</html>