<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">
	
	<th:block layout:fragment="css">
		<link href="/css/component/sub-menu.css" type="text/css" rel="stylesheet">
		<link href="/css/member/mypage/booking-list.css" type="text/css" rel="stylesheet">
		<script src="/js/member/mypage/booking-list.js"></script>
	</th:block>
	
  
<body id="body" layout:fragment="content" >
   
<!-- ------------------------------ -->
    <main>
    	<div class ="main-content">
    	
	        <div class="menu-box">
	        	<div class="profile-box">
	        		<div class="profile-content">
		                <div class="profile-img-box" >
		                    <img class="profile-img" src="../../../image/camera.svg">
		                </div>
		                <div>
			                <div class="profile-name"> 
			                    <span th:text="${nickname}+' 님'">1004님</span>
			                </div>
			                <div class="member-grade">
                        		일반회원
                    		</div>
		                </div>
		            </div>
	            </div>
	            <ul class="menu-list">
	                <li class="list line-on"><a class="deco deco-ticket deco-ticket-on" href="">나의 예매내역</a></li>
	                <li class="list"><a class="deco deco-heart-red" href="/member/mypage/like-list">좋아요 전시</a></li>
	                <li class="list"><a class="deco deco-smile"  href="/member/mypage/account-edit">내 정보 수정</a></li>
	                <li class="list"><a class="deco deco-write" href="/member/mypage/post-list">작성글 관리</a></li>
	            </ul>
	        </div>
	        
			
	         <div class="pay-list" >
	         	<div class="my-booking">나의 예매내역</div>
			        <div class="total-box">
			            <span class="text total">Total:&nbsp;</span><span class="text total-num" th:text="${countOfBooking}">2</span>
			        </div>
			        <div class="nonexistence-mess" th:if="${countOfBooking}==0" >
			            <p>예매내역이 없습니다.</p>
			        </div>
		        
		        
		        
<!-- 연습 -->

<div class= "booking-list">



	            <form action="" class ="forr" th:each="bookingList:${bookingList}">
	                <div class="exh-img-box">
	                    <img class="exh-img"  th:src="@{|/image/poster/${bookingList.exhPoster}|}" src="../../image/exhimage.png" th:href="@{/exhibition/${bookingList.exhId}}" alt="">
	                </div>
	                
                    <div class="text pay-state" th:text="${bookingList.payMethod}">결제완료</div>
                    <div class="text exh-title" th:text="${bookingList.exhName}"> 모네 인사이드</div> 
                    <div class="text exh-place" th:text="${bookingList.museumName}"> 국립현대미술관</div> 
<!--                     <div class="text exh-date" th:if="${bookingList.payMethod}=='미관람'" th:text="'관람예정 '+${#dates.format(bookingList.bookingDate,'yyyy-MM-dd')}">관람일 2022.09.22</div> -->
                    <div class="text exh-date" th:text="${#dates.format(bookingList.bookingDate,'yyyy-MM-dd')}">관람일 2022.09.22</div>

	
<!-- 	                <div class="button-list" th:if="${bookingList.payMethod}=='결제완료'"> -->
					<div class="button-list" >
	                    <a class="btn btn-default-fill-off"  th:href="@{{id}(id=${bookingList.bookingId})}" th:if="${bookingList.reviewCon}" href="../mypage/review-detail.html" >리뷰보기</a>
	                    <a class="btn btn-default-fill" th:href="@{{id}(id=${bookingList.bookingId})}" th:if="!${bookingList.reviewCon}"  href="../mypage/review-detail.html" >리뷰작성</a>
	                    <a class="text btn btn-default-line pay-detail" th:attr="data-id=${bookingList.bookingId}" >결제상세</a>
	                </div>
<!-- 	            </form> -->
	        

	        
<!-- 	        <div class="pay-modal-background d-none"> -->
<!-- 	        	<div class="pay-modal-window"> -->
<!-- 		        	<div class=" pay-modal-popup"> -->
<!-- 			            <section class="payment-list"> -->
<!-- 			                <h1>결제 상세</h1> -->
<!-- 			                <div class=""> -->
<!-- 			                    <div class="payment-table"> -->
<!-- 			                        <div class="item" >결제번호</div> -->
<!-- 			                        <div class="item" >20221122-00001</div> -->
<!-- 			                        <div class="item">아이디</div> -->
<!-- 			                        <div class="item">abcdef</div> -->
<!-- 			                        <div class="item">이름</div> -->
<!-- 			                        <div class="item">주성균</div> -->
<!-- 			                        <div class="item">전시</div> -->
<!-- 			                        <div class="item" th:text="${bookingList.exhName}">어노니머스 프로젝트</div> -->
<!-- 			                        <div class="item">인원</div> -->
<!-- 			                        <div class="item">1</div> -->
<!-- 			                        <div class="item">결제금액</div> -->
<!-- 			                        <div class="item">12,00처</div> -->
<!-- 			                        <div class="item">결제방식</div> -->
<!-- 			                        <div class="item">카카오페이</div> -->
<!-- 			                        <div class="item" >결제일</div> -->
<!-- 			                        <div class="item">2022.11.22 14:01:30</div> -->
<!-- 			                    </div> -->
			                    
<!-- 			                    <div class="btn-box"> -->
<!-- 			                        <a class="btn btn-default btn-default-fill btn-exit" href="">닫기</a> -->
<!-- 			                    </div> -->
			                    
<!-- 			                </div> -->
<!-- 			            </section> -->
<!-- 		        	</div>    -->
<!-- 	        	</div> -->
<!-- 	        </div> -->
	        	</form>
	        	
	  </div>       	
	        	
	        	
	        	
	        	  
	        </div>        
        </div>
    </main>
</body>
</html>