<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">
	
	<th:block layout:fragment="css">
	    <link href="/css/component/like-list.css" type="text/css" rel="stylesheet">
	    <link href="/css/component/sub-menu.css" type="text/css" rel="stylesheet">
	    
		<script src="../../js/header-menu.js"></script>
	</th:block>
<body layout:fragment="content">
    <main>
        <div class="account">
            <div class="corp-edit-box">
                <img class="edit-img " src="../../image/accountImage.png">
            </div>
            <div class="exh-name">ICT 미술관</div>
            <div class="corpMem">업체회원</div>
        </div>

        <div class="menu-box">
            <ul class="menu-list">
                <li class="list"><a class="deco deco-ticket" href="">나의 예매내역</a></li>
                <li class="list line-on"><a class="deco deco-heart-red deco-heart-on" href="../../member/mypage/like-list.html">좋아요 전시</a></li>
                <li class="list"><a class="deco deco-smile" href="./account-edit.html">내 정보 수정</a></li>
                <li class="list"><a class="deco deco-write" href="./post-list">작성글 관리</a></li>
            </ul>
        </div>
        
        <div class="like-list">
            <form action="">

                <div class="exh-img-box">
                    <img class="exh-img" src="../../image/exhimage.png" alt="">
                </div>
                <!-- <div class="text-list"> -->
                    <div class="icon icon-heart-red exh-like"></div>
                    <div class="text exh-title">모네 인사이드</div>
                    <div class="text exh-place">국립현대미술관</div>
                    <div class="text exh-date">2022.09.22 ~ 2022.09.22</div>
                    
            </form>
        </div>        
        
        <div class="like-list">
            <form action="">

                <div class="exh-img-box">
                    <img class="exh-img" src="../../image/exhimage.png" alt="">
                </div>
                <!-- <div class="text-list"> -->
                    <div class="icon icon-heart-red exh-like"></div>
                    <div class="text exh-title">모네 인사이드</div>
                    <div class="text exh-place">국립현대미술관</div>
                    <div class="text exh-date">2022.09.22 ~ 2022.09.22</div>
                    <!-- <div class="date"></div> -->
                <!-- </div> -->
            </form>
        </div>   
        
        <div class="like-list">
            <form action="">

                <div class="exh-img-box">
                    <img class="exh-img" src="../../image/exhimage.png" alt="">
                </div>
                <!-- <div class="text-list"> -->
                    <div class="icon icon-heart-red exh-like"></div>
                    <div class="text exh-title">모네 인사이드</div>
                    <div class="text exh-place">국립현대미술관</div>
                    <div class="text exh-date">2022.09.22 ~ 2022.09.22</div>
                    <!-- <div class="date"></div> -->
                <!-- </div> -->
            </form>
        </div>   
        <div class="like-list">
            <form action="">

                <div class="exh-img-box">
                    <img class="exh-img" src="../../image/exhimage.png" alt="">
                </div>
                <!-- <div class="text-list"> -->
                    <div class="icon icon-heart-red exh-like"></div>
                    <div class="text exh-title">모네 인사이드</div>
                    <div class="text exh-place">국립현대미술관</div>
                    <div class="text exh-date">2022.09.22 ~ 2022.09.22</div>
                    <!-- <div class="date"></div> -->
                <!-- </div> -->
            </form>
        </div>   
            
      
    </main>
</body>
</html>