<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">
	
	<th:block layout:fragment="css">
	    <link href="/css/component/like-list.css" type="text/css" rel="stylesheet">
	    <link href="/css/component/sub-menu.css" type="text/css" rel="stylesheet">
	    
		<script src="../../js/header-menu.js"></script>
		<script src="../../js/member/mypage/like-list.js"></script>
	</th:block>
<body layout:fragment="content">
    <main>
      

        <div class="menu-box">
            <ul class="menu-list">
                <li class="list"><a class="deco deco-ticket" href="">나의 예매내역</a></li>
                <li class="list line-on"><a class="deco deco-heart-red deco-heart-on" href="../../member/mypage/like-list.html">좋아요 전시</a></li>
                <li class="list"><a class="deco deco-smile" href="./account-edit.html">내 정보 수정</a></li>
                <li class="list"><a class="deco deco-write" href="./post-list.html">작성글 관리</a></li>
            </ul>
        </div>
        <section class="like-list-section">
	        <section class="like-list" th:each="list:${list}" th:attr="data-id=${list.id}">
	            <form action="">
	
	                <div class="exh-img-box">
	<!--                 <a href="" th:href="@{{id}(id=${list.id})}" ><img th:src="@{|/image/poster/${list.poster}|}" class="exh-img" src="../../image/exhimage.png" alt=""></a> -->
	                    <a href=""><img class="exh-img" src="../../image/exhimage.png" alt=""></a>
	                </div>
	                <!-- <div class="text-list"> -->
	                    <div class="icon icon-heart icon-heart-red exh-like"></div>
	                    <div class="text exh-title" th:text="${list.name}">모네 인사이드</div>
	                    <div class="text exh-place" th:text="${list.museumName}">국립현대미술관</div>
	                    <div class="text exh-date" th:text="${list.startDate} +' ~ '+ ${list.endDate}">2022.09.22 ~ 2022.09.22</div>
	                    <!-- <div class="date"></div> -->
	                <!-- </div> -->
	            </form>
	        </section>        
		</section>
    </main>
</body>
</html>