<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{inc/layout.html}">
	
	
	<th:block layout:fragment="css">
	    <link href="../../../../css/member/mypage/review-detail.css" type="text/css" rel="stylesheet">
		<script src="../../../../js/member/mypage/review-detail.js"></script>
		<link href="/css/component/sub-menu.css" type="text/css" rel="stylesheet">
	</th:block>

<!-- <script src="../../js/header-menu.js"></script> -->
<body id="body" layout:fragment="content" >
<!-- ------------------------------------------ -->


	<main>
		<div class ="main-content">
		
    	
	        <div class="menu-box">
	        	<div class="profile-box">
	        		<div class="profile-content">
		                <div class="profile-img-box" >
		                    <img class="profile-img" src="../../../image/camera.svg">
		                </div>
		                <div class="profile-name">
		                    <span>1004님</span>
		                </div>
		            </div>
	            </div>
	            <ul class="menu-list">
	                <li class="list line-on"><a class="deco deco-ticket deco-ticket-on" href="">나의 예매내역</a></li>
	                <li class="list"><a class="deco deco-heart-red" href="../../member/mypage/like-list.html">좋아요 전시</a></li>
	                <li class="list"><a class="deco deco-smile"  href="./account-edit.html">내 정보 수정</a></li>
	                <li class="list"><a class="deco deco-write" href="./post-list.html">작성글 관리</a></li>
	            </ul>
	        </div>
		


        <form action ="/review/reg" method="POST" id="form">
	        
	        <div class="review" th:if="${review}">리뷰 보기</div>
	        <div class="review" th:if="!${review}">리뷰 작성</div>
	        
	        <div class="review-form" >
				
				
				
				<!-------------------------------------------------------------------------------------->
				<div class="box" th:if="${review}" th:style="|background-color:${review.color}|">
	                <div class="write-form" >
	                    <div class="content" th:text="${review.content}" th:if="${review}">리뷰 작성중</div>
	                    <textarea name ="content" class="input-review" placeholder="리뷰를 작성해주세요" th:if="!${review}"></textarea>
	                   
	                </div>
	                
	                <div class="detail-info">
	                    <div>
	                        <label class="exh-name" th:text="${booking.exhName}" id="exhName">함스부르크 600년,매혹의 걸작들</label>
	                    </div>
	                    <div>
	                        <span class="exh-loc" th:text="${booking.museumName}" >국립현대미술관</span>
	                        <span class="exh-date" th:text="${booking.bookingDate}">2022.08.08</span>
	                    </div>
	    
	                    <div class="color-option">

<!-- 	                        <input type="color" class="color-input" name="color" > -->
								<a class="color purple" value="pink"></a>
								<a class=" color green"></a>
								<a class="color blue"></a>
	                    </div>
	                    
	                    <div >
							<a  th:href="@{/member/mypage/review/del/{id}(id = ${review.id})}" th:if="${review}" class="trash"><img class="trash-img" src="../../../image/trash.png"></a>
	                    </div>
	                </div>
	             </div> 
	           
			
			
				<!-------------------------------------------------------------------------------------->
				<div class="box" th:if="${review==null}" th:style="|background-color:#EDEDED|">
	                <div class="write-form" >
<!-- 	                    <div class="content" th:text="${review.content}" th:if="${review}">리뷰 작성중</div> -->
	                    <textarea name ="content" class="input-review" placeholder="리뷰를 작성해주세요" th:if="!${review}"></textarea>
	                   
	                </div>
	                
	                <div class="detail-info">
	                    <div>
	                        <label class="exh-name" th:text="${booking.exhName}" id="exhName">함스부르크 600년,매혹의 걸작들</label>
	                    </div>
	                    <div>
	                        <span class="exh-loc" th:text="${booking.museumName}" >국립현대미술관</span>
	                        <span class="exh-date" th:text="${booking.bookingDate}">2022.08.08</span>
	                    </div>
	    
	                    <div class="color-option">
	                    		<a class="color purple" ></a>
								<a class=" color green"></a>
								<a class="color blue"></a>
<!-- 	                        <input type="color" class="color-input" name="color" > -->
	                    </div>
	                    
	                    <div >
							<a  th:href="@{/member/mypage/review/del/{id}(id = ${review.id})}" th:if="${review}" class="trash"><img class="trash-img" src="../../../image/trash.png"></a>
	                    </div>
	                </div>
	             </div> 
	           <!-------------------------------------------------------------------------------------->
			</div>
   	
        </form>
   </div>
   
   
        <div class="review-button-list">
   
        	<input type="hidden" class= "bookingId" name="bookingId" th:value="${bookingId}"></input>
        	<a class="btn btn-default btn-default-fill btn-reg" type="submit"  th:if="!${review}" value="등록">등록</a>
            <a class="btn btn-default btn-default-fill btn-mod" type="button"  th:if="${review}"  value="수정" th:href="@{/member/mypage/review/update/{id}(id = ${review.id})}">수정</a>
            <a class="btn btn-default btn-default-line btn-exit" type="button" href="/member/mypage/review/list" value="닫기">닫기</a>
    	</div>
    </main>

<!-- ------------------------------ -->

</body>
</html>