<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{inc/layout.html}">
	
	
	<th:block layout:fragment="css">
	    <link href="../../../../css/member/mypage/review-detail.css" type="text/css" rel="stylesheet">
		<script src="../../../../js/member/mypage/review-update.js"></script>
	</th:block>

<!-- <script src="../../js/header-menu.js"></script> -->
<body id="body" layout:fragment="content" >
<!-- ------------------------------------------ -->

    <main>
        <h2 class="review" >리뷰 보기</h2>
        <div class="tong">
			<div class="side-menu">
	            <div class="logo2">
	                <div class="profile">
	                
	            	</div>
	            </div>
	            <ul class="side-menu-list">
	                <li><a href="">나의 예매내역</a></li>
	                <li><a href="">좋아요 전시</a></li>
	                <li><a href="">회원정보 수정</a></li>
	                <li><a href="">작성글 관리</a></li>
	            </ul>
			 </div>
        <form action ="/review/update" method="post" id="form">
        <div class="review-form">
            <div class="box" th:style="|background-color:${review.color}|">
                <div class="write-form">
                    <!-- <div class="content">리뷰 작성중</div> -->
                    <div class="">
                        <textarea class="input-review" placeholder="리뷰를 작성해주세요" th:text="${review.content}"></textarea>
                    </div>
                </div>
                <div class="detail-info">
                    <div>
                        <label class="exh-name" th:text="${booking.exhName}">함sssddd스부르크 600년,매혹의 걸작들</label>
                    </div>
                    <div>
                        <span class="exh-loc" th:text="${booking.museumName}">국립현대미술관</span>
                        <span class="exh-date" th:text="${booking.bookingDate}">2022.08.08</span>
                    </div>
    
                    <div class="color-option">
                        <input type="color" class="color-input">
                    </div>
                    <div class="trash">
                        <!-- <button class="icon icon-trash"></button> -->
                        <a><img src="../../../../image/trash.png" class="trash-img"></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
     </div>
        
<!--         <div class="review-option-list"> -->
<!--             <span class="review-option"> -->
<!--                 <input type="radio" name="공개여부"> -->
<!--                 <label >공개</label> -->
<!--             </span> -->

<!--             <span class="review-option"> -->
<!--                 <input type="radio" name="공개여부"> -->
<!--                 <label>비공개</label> -->
<!--             </span>     -->
<!--         </div> -->

        <div class="review-button-list">
        	<input type="hidden" class= "reviewId" name="bookingId" th:value="${review.id}"></input>
        	<input type="hidden" class= "payId" name="bookingId" th:value="${payId}"></input>
            <input class="btn btn-default btn-default-fill btn-reg" type="submit" value="등록"></input>
            <a class="btn btn-default btn-default-line btn-exit" type="button" href="/member/mypage/review/list" value="닫기">닫기</a>
        </div>
        
    </main>

    <footer class="footer">
        <h1 class="d-none" style="display: none;">footer</h1>
        <div class="footer-inf">
            <div class="footer-btn">
                <a class="btn btn-rec btn-default-line" href="">로그인</a>
                <a class="btn btn-rec btn-default-line" href="">PC버전</a>
            </div>
            <h1>ARTAGIT</h1>
            <div>대표자: 주성균 | 3F, 23, Baekbeom-ro, Mapo-gu, Seoul, Republic of Korea</div>
            <div>사업자등록번호: 123-45-67890</div>
            <div>이메일 문의:admin@artagit.com | 대표번호: 1588-1588</div>
            <small>Copyright 2022. ARTAGIT All rights reserved.</small>
        </div>
    </footer>



</body>
</html>