.note-editor.note-frame, .note-editor.note-airframe {
    border:none;
}

.note-editor.note-frame .note-editing-area .note-editable, .note-editor.note-airframe .note-editing-area .note-editable {
    height:200px;
    background-color: #fff1f3;
}
.note-toolbar{
    background-color: transparent;
    border:none;
}

.note-btn{
    border: 3px solid #FFF1F3;
    margin:1px;
    background-color: transparent;
    color:#484848;
    border-radius: 5px;
}
.note-btn:hover{
    background-color: #FFF1F3;
    border: 2px solid #FC93AD;
    border-radius: 5px;
}

.note-btn:active, .note-btn.active {
    outline: 0;
    background-image: none;
    color: #484848;
    text-decoration: none;
    background-color: #FFF1F3;
    border: 2px solid #FC93AD;
    outline: 0;
    border-radius: 5px;
    box-shadow: inset 0 3px 5px rgba(82, 0, 0, 0.13);
}

textarea{
    border-radius: 5px;
    
}
textarea:focus{
    border: 2px solid #FF6C9E;
    
}
.note-editor.note-frame .note-editing-area .note-editable, .note-editor.note-airframe .note-editing-area .note-editable {
    border-radius:5px;
}
.note-editable:focus{
    border: 2px solid #FF6C9E;
}
iframe{
    width: 500px;
    height:300px;
}