.main-container{
    padding: 40px 0;
}
/* ============================================================ */

.menu-box{
    
    margin: 20px 0;

    border-bottom: 1px solid #707070;

}
.menu-list {
    width: 200px;

    padding: 0px 5px 10px 5px;
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
    /* align-items: center; */
}