@keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }



body{
    --color-white: #FDFBF9;
    --color-black: #000;
    --color-gray: #707070;

    background-color: var(--color-black);
    color: var(--color-white);
    transition: 1s;
}
.header{
    background-color: var(--color-black);
    color: var(--color-white);
}
.header.bg-white{
    background-color: var(--color-white);
    color: var(--color-black);
}
.sub-menu-box{
    background-color: var(--color-black);
}   
.sub-menu-box.bg-white{
    background-color: var(--color-white);
}
.sub-menu-box a{
    color: var(--color-white);
}
.sub-menu-box a.bg-white{
    color: var(--color-black);
}
.icon{
    background-color: var(--color-white);
}
.icon.bg-white{
    background-color: var(--color-black);
}



body.bg-white{
    background-color: var(--color-white);
    color: var(--color-black);
}

.main-seciton{
    border-top: 2px solid var(--color-black);
    padding-bottom: 30px;

}
    .main-seciton > h1{
        padding: 20px 0;
    }

.slider-box{
    display: flex;
    justify-content: center;
}
.slider {
    display: flex;
    width: 500px;
    height: 550px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .slide {
    width: 350px;
    height: 450px;
    background-size: cover;
    border-radius: 10px;
    animation: fade 3s;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: rgb(248, 248, 248);
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 5px;
  }
  .prev{
    left: 0;
  }
  .next {
    right: 0;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(190, 190, 190, 0.5);
  }

.main-community-section{
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: column;
}
.board-box{
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: column;
}
    .board-more{
        padding: 10px;
        align-self: end;
    }

.board-list{
    grid-template:
        "category regdate img" 20px
        "title title img" 30px / 2fr 1fr;
    align-items: center;
    border-top: 1px solid #9E9E9E;
    border-bottom: 0;

    gap:10px;
}

.icon-heart.icon-heart-red {
    background-color: red;
}

/* ========================================================= */

@media (min-width: 992px) {
    .header-pc{
        background-color: var(--color-black);
        color: var(--color-white);
        transition: 1s;
    }
    .header-pc.bg-white{
        background-color: var(--color-white);
        color: var(--color-black);
    }
    .main-menu a{
        color: var(--color-white);
    }
    .main-menu a.bg-white{
        color: var(--color-black);
    }
    .slider {
        width: 1250px;
        height: 400px;
		overflow: hidden;
    }
    .slide {
        width: 100%;
/*         height: 100%; */
    }
    .board-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .board-list{
        border: 0.5px solid;
        margin: 1px;
    }
    .exhibition-list{
        grid-template-columns: repeat(4, 1fr);
    }
    .main-list-box>div{
        grid-template-columns: repeat(4, 1fr);
    }
    .board-list{
        grid-template:
            "category regdate img" 50px
            "title title img" 30px / 2fr 1fr;
    }


}

