.input{
    border: 0;
    border-radius: 5px;
    background-color: #FFF1F3;

    box-sizing: border-box;

    outline: 0;

    
    color: #545454;
    line-height: 24px;
    text-indent: 10px;

    font-size: 13px;
    font-weight: 500;
}

.input::placeholder {
    color: #BCBCBC;
    font-weight: 500;
}
.input:focus{
    border: 2px solid #FF6C9E;
}

.input:focus::placeholder {
    color:transparent;
}

.input-sm{
    width: 126px;
    height: 35px;
}
.input-md{
    width: 190px;
    height: 35px;
}
.input-md-2{
    width: 220px;
    height: 40px;
}
.input-md-3{
    width: 219px;
    height: 40px;
}
.input-lg{
    width: 295px;
    min-height: 40px;
}
.input-xl{
    width: 300px;
    height: 44px;
}
@media (min-width: 992px){

    /* pc버전 인풋박스입니다 */
    .input-lg{
        width: 340px;
        height: 45px;
    }
   
    .input{
        font-size: 16px;
    }
    .input-sm{
        width: 150px;
        height: 45px;
    }
/*     .input-md-2{ */
/*         width: 74%; */
/*     } */
    .input-md-3{
        width: 260px;
        height: 45px;
    }
    
}

.input-border{
    border: 0.3px solid #BCBCBC;
}

/* ===== input util =================== */
.input-white{
    background-color: #fff;
}

.input-grey{
    background-color: #F3F3F3;
}

.input-ph {
    font-size: 13px;
    font-weight: 500;
}

.input-unable {
    background-color: rgba(243, 243, 243, 0.831);
    color: #545454c9
}

