
.welcome{
    padding-top: 90px;
    padding-bottom: 19px;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    
}


/* ------------로그인 유형 -------- */
.login-type-option{
    display: flex;
    gap :9px;
    justify-content: center;
    /* align-items: center; */
    
}
input[type=radio]{
    /* display: none; */
    cursor: pointer;
    width: 15px;
    height: 15px;
    accent-color: #FF6C9E;
}

.radio-wrap{
    display: flex;
    align-items: center;
}

/* ---------- 아이디 비번 입력------ */

.login-input-wrap{
    padding-top: 8px;
    padding-bottom: 23px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:8px;
}


.btn-login{
    display: block;
    width: 300px;
    height: 40px;
    font-size: 18px;
    margin:0 auto 20px auto;
}

.line{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    padding: 24px 0;
}
    .line::before{
        content:"";
        flex-grow:1;
        margin:0px 10px;

        background:#545454;
        height:1px;
    }

    .line::after{
        content:"";
        flex-grow:1;
        margin:0px 10px;
        background:#545454;
        height:1px;
    }

/* -------아이디 비번찾기 ---------*/

.find-wrap{
    display: flex;
    justify-content: center;
}

    .find-wrap li{
        position: relative;
        display: inline-block;
    }

    .find-wrap li+li::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 12px;
        width: 1px;
        height: 12px;
        background-color: black;
    }

    .find-wrap li+li {
        padding-left: 28px;
    } 

/* -----소셜로그인 ----------*/
.login-social{
    display: flex;
    justify-content: center;
    gap: 27px;
}

