.menu-list {
    padding: 30px 5px 0px 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;

    
    /* justify-content: space-around; */
    /* flex-direction: row; */
    /* align-items: center; */
}

.menu-list > li{
    display: flex;
    justify-self: center;
    margin: right 10px;;
    padding:0;
}

.menu-box{
    padding : 20px;
}
.menu-box > ul{
    
    display: flex;
   margin-left: 120px;
}

/* .mypage-menu-list {
    padding: 30px 5px 0px 5px;
    display: flex;
    justify-content: space-around;
} */