/* .main-container{
    padding-top: 10px;
} */

.reg-list form>h1{
    text-align: center;
    padding-bottom: 18px;

}
.reg-list-input-box{
    padding-bottom: 10px;
    gap:4px;
}
.reg-list-input-box>div{
    gap: 34px;
}

.reg-list-input-box>label{
    padding:0;
}

.reg-button-box{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    gap : 20px;
}

.unregister{
    display: flex;
    justify-content: end;
    padding-top : 100px;
    
}

/*  */
.toggle{
    display: flex;
    margin-top: 10px;
    margin-bottom: 9px;
    /* text-align: center; */
    border: 1px solid #969696;
    border-radius: 15px;
    line-height : 37px;
    align-items: center;
    

}

.toggle > h1{
    font-size: 16px;
    padding-left: 20px;
    padding-right: 170px;
    
    /* line-height : 37px; */
    
}

.signup-corp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-corp>h1{
    padding-bottom: 5px;
   
}

.exh-name{
    font-size: 18px;
    font-weight: 600;
    /* justify-content: center; */
    padding : 5px 0;
    margin: auto;
    text-align: center;
    
}


.confirm-nickname{
    font-size: 12px;
    color: #F7A7BB;
}

input:focus::placeholder {
    color:transparent;
}
