.text {
    color: #545454;
    /* font-size: 13px; */
}

.pay-state {
    color: #FF5171;
    font-weight: 600;
}

form {
    border-top: 1.5px solid rgba(157, 157, 157, 0.353);
    padding-top: 15px;
}

.pay-list form {
    margin: 15px 0;
    display: grid;
    justify-content: start;
    align-items: end;
    grid-template: "img state" 50px
                    "img title" 23px
                    "img place" 18px
                    "img date" 18px
                    "img btn" 55px / 170px;
}

.exh-img-box {
    grid-area: img;
}

.pay-state {
    grid-area: state;
    font-size: 14px;
}

.exh-title {
    grid-area: title;
}

.exh-place {
    grid-area: place;
}

.exh-date {
    grid-area: date;
}

.button-list {
    grid-area: btn;
}

.exh-img {
    margin-left: 10px;
}

.btn-default-fill {
    font-weight: 200;
    margin-right: 5px;
}