@media (min-width: 768px){
    .box-container{
        min-width: 1000px;
       

    }

    main{
        display: flex;

    }

    

    .menu-list-s>li{
      
    }

    .post-manage{
        border-bottom:none;
    }





}
