.review{
    padding-bottom: 12px;
    border-bottom: 2px solid #929292;
    padding-left: 10px;
}

.review-form{
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

.box{
    margin-top: 13px;
    width: 355px;
    height: 406px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #EDEDED;
}

.trash-img{
    width: 25px;
    height: 25px;
}
.write-form{
    margin: 17px;
    width:320px;
    height: 310px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    display: inline-block;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

.content{
    display: block;
    margin: 10px;
    word-break: break all;
}

.input-review{
    /* align-items: center; */
    width:320px;
    height: 310px;
}

.detail-info{

    display:grid;
    grid-template:
    "exh-name  color" 30px
    "exh-loc  trash" 30px / 6fr 1fr;

}

    .exh-name{
        grid-area: exh-name;
        font-size: 18px;
    }
    .exh-loc{
        grid-area:exh-loc;
        font-size: 16px;
    }
    .exh-date{
        font-size: 14px;
    }
    .color-option{
        grid-area: color;
    }
    .trash-img{
        /* padding-left: -5px; */
        grid-area:trash;
    }



.color-input{
    width:20px;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    color:#D9D9D9;
    border-color: #D9D9D9;
}

.review-option-list{
    display: flex;
    gap:20px;
    justify-content: center;
    padding-top: 15px;
}
    .review-option{
        font-size: 16px;;
    }

.review-button-list{
    display: flex;
    gap:20px;
    justify-content: center;
    padding-top: 31px;
}



/* ======================================= */

@media (min-width: 993px){ 

	.main-content{
		display:flex;
		flex-direction:row;
	}
	
	form{
		display:flex;
		flex-direction:column;
	}
    .review{
    	font-size:20px;
    	margin-left:30px;
        width:800px;
        padding-bottom: 20px;
        margin-bottom:20px;
        border-bottom: 2px solid #929292;
        display: flex;
        align-items: center;
    }

    .review-form{
        display: flex;
        justify-content: center;
        padding-left: 30px;
        /* padding-left: 360px; */
    }

    .box{
            margin-top: 0;
            width:800px;
            height: 500px;
            border-radius: 10px;
            border: 1px solid #ddd;
            background-color: #EDEDED;
    }

    .write-form{
        margin: 25px;
        margin-bottom: 20px;
        padding: 10px;
        width:726px;
        height: 360px;
        background-color: #fff;

        word-break: break-all;
    }
    .content{
        display: block;
        margin: 10px;
        word-break: break all;
    }

    .detail-info{
        margin-left: 30px;
        padding-top: 0;
        grid-template:
        "exh-name  color" 30px
        "exh-loc  trash" 30px / 10fr 1fr;
        
    }
    
    .input-review{
        font-family:'Pretendard', Tahoma, Geneva, Verdana, sans-serif;
        resize: none;
        width:710px;
        height: 340px;
        display: flex;
        padding:20px;
        margin:-11px;
    }
    
    .btn-mod, .btn-exit, .btn-reg{
    	width:60px;
    	height:30px
    }

    .review-button-list{
    display: flex;
    gap:20px;
    justify-content: center;
    padding-top: 31px;
    padding-left:0px;
	}
/* 	테마색 */
	.color-option{
		display:flex;
		flex-direction:row;
		gap:10px;
		padding-right:25px;
	}
	
	.color{
		
		width:30px;
		height:30px;
		border-radius:100%;
	}
	
	.purple{
		background-color:#E2D1F0;
	}
	
	.green{
		background-color:#E4F0D1;
	}
	
	.blue{
		background-color:#D1EBF0;
	}

}