<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">
   <!-- ---------------------------------------------------------------------- -->   
	<th:block layout:fragment="css">
	 	<link rel="stylesheet" href="/css/calendar.css">
	    <link href="/css/member/exhibition/booking-ticket.css" type="text/css" rel="stylesheet">
	 	<script src="/js/calendar.js"></script>
		<script src="/js/member/exhibition/booking-ticket.js"></script>
	</th:block>
<body layout:fragment="content">
    <main>
        <div class="img-and-info">
            <div class="exh-img-box">
                <img class="exh-img" src="/image/전시사진.jpg" alt="">
            </div>
    
            <div class="text-box">
                <div class="exh-title" th:text="${exh.name}">합스부르크 600년, 매혹의 걸작들</div>
                <div class="exh-place" th:text="${corp.museumName}">국립현대미술관</div>
                <!-- 날짜출력 -->
<!--                 <div class="exh-date"> -->
<!--                     <span class="select-year"></span> -->
<!--                     <span class="select-month"></span> -->
<!--                     <span class="select-day"></span> -->
<!--                 </div> -->
            </div>
        </div>
            <!-- 달력 -->
        <div class="calendar-section">
            <div class="calendar-nav">
                <a href="" class="nav-btn go-prev">prev</a>
                <div class="year-month"></div>
                <a href="" class="nav-btn go-next">next</a>
            </div>
            <div class="calendar-wrap">
                <div class="days">
                    <div class="day">MON</div>
                    <div class="day">TUE</div>
                    <div class="day">WED</div>
                    <div class="day">THU</div>
                    <div class="day">FRI</div>
                    <div class="day">SAT</div>
                    <div class="day">SUN</div>
                </div>
                <div class="dates"></div>
            </div>
        </div>
        <p class="choice-date">날짜를 선택해 주세요.</p>
        <div class="info-box">
            <section class="client-number d-none">
                <h1>관람인원</h1>

                    <div class="rect-box">
                        <div class="item">
                            <span class="age">성인</span>
                            <span class="price" data-th-text="${#numbers.formatInteger(exh.ticketPrice, 3, 'COMMA') + '원'}">17,500</span>
                        </div>

                        <div class="item">
                            <a class="minus" href="">-</a>
                            <span class="count">0</span>
                            <a class="plus" href="">+</a>
                        </div>
                    </div>

            </section>

            <section class="client-info d-none">
                <h1>예매자 정보 입력</h1>
                <div class="input-box">
                    <div class="name">
                        <label for="">예매자 이름</label>
                        <input class="transparency" name="name" type="text" sec:authentication="principal.username" disabled>
                    </div>
                    <div class="phone">
                        <label for="">연락처</label>
                        <input class="transparency" name="phone" type="text">
                    </div>
                    <div class="e-mail">
                        <label for="">이메일주소</label>
                        <input class="transparency" name="email" type="text">
                    </div>
                    <p class="caution">티켓수령 및 본인확인을 위해 정확한 정보를 입력해주세요.<br>
                    티켓수령은 예매시 부여되는 <span class="highlight">"예약번호"로 관람일 당일 현장에서<br>
                    수령하여 입장</span>할 수 있습니다.</span>
                </div>
            </section>
        </div>

        <div class="booking-btn">
<!--             <a class="btn btn-pay btn-price" data-th-text="${'결제금액 ' + #numbers.formatInteger(exh.ticketPrice, 3, 'COMMA') + '원'}">결제금액 17,500원</a> -->
            <a class="btn btn-pay btn-price">결제금액&nbsp;<span class="total-price">0</span>원</a>
            <a class="btn btn-pay btn-way" href="/member/exh/pay">결제방식 선택</a>
        </div>
    </main>
    
</body>
</html>