<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">
   <!-- ---------------------------------------------------------------------- -->   
	<th:block layout:fragment="css">
	 	<link rel="stylesheet" href="/css/calendar.css">
	    <link href="/css/member/exhibition/booking-ticket.css" type="text/css" rel="stylesheet">
	 	<script src="/js/calendar.js"></script>
		<script src="/js/member/exhibition/booking-ticket.js"></script>
		
		<link href="/css/member/exhibition/pay.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<!-- 		<script src="/js/member/exhibition/pay.js"></script> -->
	</th:block>
<body layout:fragment="content">
    <main>
        <div class="img-and-info">
            <div class="exh-img-box">
                <img class="exh-img" src="/image/전시사진.jpg" alt="">
            </div>
    
            <div class="text-box">
                <div class="exh-title" th:text="${exh.name}">합스부르크 600년, 매혹의 걸작들</div>
                <div class="exh-place" th:text="${corp.museumName}">국립현대미술관</div>
                <!-- 날짜출력 -->
<!--                 <div class="exh-date"> -->
<!--                     <span class="select-year"></span> -->
<!--                     <span class="select-month"></span> -->
<!--                     <span class="select-day"></span> -->
<!--                 </div> -->
            </div>
        </div>
            <!-- 달력 -->
        <div class="booking-container">
	        <div class="calendar-section">
	            <div class="calendar-nav">
	                <a href="" class="nav-btn go-prev">prev</a>
	                <div class="year-month"></div>
	                <a href="" class="nav-btn go-next">next</a>
	            </div>
	            <div class="calendar-wrap">
	                <div class="days">
	                    <div class="day">MON</div>
	                    <div class="day">TUE</div>
	                    <div class="day">WED</div>
	                    <div class="day">THU</div>
	                    <div class="day">FRI</div>
	                    <div class="day">SAT</div>
	                    <div class="day">SUN</div>
	                </div>
	                <div class="dates"></div>
	            </div>
	        </div>
	        <p class="choice-date">날짜를 선택해 주세요.</p>
	        <div class="info-box">
	            <section class="client-number d-none">
	                <h1>관람인원</h1>
	
	                    <div class="rect-box">
	                        <div class="item">
	                            <span class="age">성인</span>
	                            <span class="price" data-th-text="${#numbers.formatInteger(exh.ticketPrice, 3, 'COMMA') + '원'}">17,500</span>
	                        </div>
	
	                        <div class="item">
	                            <a class="minus" href="">-</a>
	                            <span class="count">0</span>
	                            <a class="plus" href="">+</a>
	                        </div>
	                    </div>
	            </section>
	
	            <section class="client-info d-none">
	                <h1>예매자 정보 입력</h1>
	                <div class="input-box">
	                    <div class="name">
	                        <label for="">예매자 이름</label>
	                        <span class="username" sec:authentication="principal.username"></span>
	                    </div>
	                    <div class="phone">
	                        <label for="">연락처</label>
	                        <input class="transparency" name="phone" type="text" placeholder="-를 제외하고 입력해주세요.">
	                    </div>
	                    <div class="e-mail">
	                        <label for="">이메일주소</label>
	                        <input class="transparency" name="email" type="text">
	                    </div>
	                    <p class="caution">티켓수령 및 본인확인을 위해 정확한 정보를 입력해주세요.<br>
	                    티켓수령은 예매시 부여되는 <span class="highlight">"예약번호"로 관람일 당일 현장에서<br>
	                    수령하여 입장</span>할 수 있습니다.</span>
	                </div>
	            </section>
	          </div>
		        <div class="booking-btn">
		            <a class="btn btn-pay btn-price">결제금액&nbsp;<span class="total-price">0</span>원</a>
		            <a class="btn btn-pay btn-way" href="/member/exh/pay">결제방식 선택</a>
		        </div>
	        </div>

	        
	        <div class="pay-container d-none">
		        <div class="payment-container">
		            <div class="payment-box">
		                <section class="payment-select-box">
		                    <h1>결제수단</h1>
		    
		                    <div>
		                        <ul class="payment-select-menu">
		                            <li><a data-for-tab="1" class="btn btn-default btn-payment btn-left-radius btn-default-line" href="">무통장</a></li>
		                            <li><a data-for-tab="2" class="btn btn-default btn-payment btn-rec btn-default-line" href="">신용카드</a></li>
		                            <li><a data-for-tab="3" class="btn btn-default btn-payment btn-rec btn-default-line" href="">휴대폰</a></li>
		                            <li><a data-for-tab="4" class="btn btn-default btn-payment btn-right-radius btn-default-line" href="">간편결제</a></li>
		                        </ul>
		                    </div>
		                    <div class="choose-pay">
		                        결제수단을 선택해주세요.
		                    </div>
		                    <div data-tab="1" class="tab-content d-none">
		                        <div class="payment-select-passbook">
		                            <div class="select-bank">입금하실 은행을 선택해주세요</div>
	                                <div class="payment-select-bank">
	                                    <select name="" id="">
	                                        <option value="">은행선택</option>
	                                        <option value="">농협(중앙)</option>
	                                        <option value="">국민은행</option>
	                                        <option value="">우리은행</option>
	                                        <option value="">기업은행</option>
	                                        <option value="">신한은행</option>
	                                        <option value="">우체국</option>
	                                        <option value="">하나은행</option>
	                                    </select>
	                                </div>
		                            <div class="bank-text">
		                                <div class="bank-info">
		                                    <div>
		                                        <strong>예금주:</strong>
		                                        <span>(주)아트아지트</span>
		                                    </div>
		                                    <div>
		                                        <strong>입금기한:</strong>
		                                        <span class="deposit-date">2023-01-06 (금) 23시 59분</span>
		                                    </div>
		                                </div>
		                                <ul>
		                                    <li>은행에 따라 23시 30분 이후 온라인 입금이 제한될 수 있습니다.</li>
		                                    <li>ATM기기로는 가상계좌입금이 불가할 수 있습니다.</li>
		                                </ul>
		                            </div>
		                        </div>
		                    </div>
		                    
		
		                    <div data-tab="2" class="tab-content d-none">
		                        <div class="select-card">결제하실 카드를 선택해주세요</div>
		                        <div class="payment-select-card">
		                            <select name="" id="">
		                                <option value="">카드선택</option>
		                                <option value="">롯데카드</option>
		                                <option value="">신한카드</option>
		                                <option value="">현대카드</option>
		                                <option value="">국민카드</option>
		                                <option value="">우리카드</option>
		                            </select>
		                            <select name="" id="">
		                                <option value="">일시불</option>
		                                <option value="">1개월</option>
		                                <option value="">2개월</option>
		                                <option value="">3개월</option>
		                                <option value="">4개월</option>
		                                <option value="">5개월</option>
		                            </select>
		                        </div>
		                    </div>
		
		                    <div data-tab="3" class="tab-content d-none">
		                        <div class="payment-select-phone">
		                            <div>
		                                준비 중 입니다.
		                            </div>
		                        </div>
		                    </div>
		
		                    <div data-tab="4" class="tab-content d-none">
		                        <div class="payment-select-simple img-box">
		                                <img class="kakao-img" tabindex=0 src="/image/카카오페이.png" alt="">
		                                <span>카카오페이</span>

		                        </div>
		                    </div>
		                </section>

		                <section class="payment-info-box">
		                    <h1>결제 예정 금액</h1>
		                    <div  class="payment-info-list">
		                        <div class="payment-info">
		                            <span>티켓금액</span>
		                            <span class="total-price">17,500</span>원
		                        </div>
		                        <div>+</div>
		                        <div class="payment-info">
		                            <span>예매 수수료</span>
		                            <span>0</span>
		                        </div>
		                        <div>+</div>
		                        <div class="payment-info">
		                            <span>배송료</span>
		                            <span>0</span>
		                        </div>
		                    </div>
		                    <div class="payment-result"><span class="total-price">17,500</span>원</div>
		                </section>
		            </div>
		        </div>
		
		        <div class="caution-container">
		            <section class="caution-box">
		                <h1 class="d-none">예매 시 유의사항</h1>
		                <div class="caution-check">
		                    <input type="checkbox" id="caution-check">
		                    <label for="caution-check">예매 시 유의사항 동의하기</label>
		                </div>
		                <div class="caution-ment">
		                    예매 시 유의사항<br>
		                    ※ 탄소 배출 제로 실천의 일환으로 종이 티켓은 발행되지 않습니다.<br>
		                    ※ 전시 티켓은 '나의 예매내역' 페이지의 예약 내역으로 대체됩니다.<br>
		                    ※ 전시는 사전예약자 우선 입장으로 진행되며, 예약 잔여분이 있을 경우에만 현장 예약&입장을 도와드리고 있습니다.<br>
		                    ※ 예약 매진 시 당일 관람이 불가 하므로 사전 예약을 권장합니다.<br>
		                    ※ 방문하신 모든 관람객의 안전하고 쾌적한 관람을 위하여 예약 인원 외 추가 입장은 불가합니다.<br>
		                    ※ 예약시간 10분전부터 15분 후까지만 입장 가능합니다. 이후 방문 시 현장 입장 대기 고객과 동일하게 대기해주셔야 합니다. 현장 상황에 따라 입장이 불가할 수 있으니 예약 시간을 반드시 지켜 주시기 바랍니다.<br>
		                    ※ 아트아지트는 코로나19 확산방지를 위하여 관람객간 2M 거리두기를 실천하며 운영하고 있습니다. 이에따라, 이전 회차 입장객의 관람 지연 등으로 입장 시 대기 시간이 발생할 수 있습니다.<br>
		                    ※ 티켓수령은 예매시 부여되는 <span class="highlight">"예약번호"로 관람일 당일 현장에서<br>
		                    수령하여 입장</span>할 수 있습니다.</span>
		                </div>
		            </section>
		        </div>
		
		        <div class="booking-btn">
		            <a class="btn btn-pay btn-price">결제금액&nbsp;<span class="total-price">0</span>원</a>
		            <a class="btn btn-pay btn-way do-pay" href="">결제하기</a>
		        </div>
	        </div>
	        
    </main>
    
</body>
</html>