.my-account-edit {
	display: none;
}

.main-container-edit {
	padding-top: 20;
}

.member {

	display: flex;
	flex-direction: column;
	margin-top: 35px;
}

.member-profile {
	display: flex;
	justify-content: center;
}

.member-profile-img {
	/* 일단회원이미지입니다 */
	border-radius: 70px;
	border: 0.5px solid #575757;
	width: 120px;
	height: 120px;
	display: flex;

}

.icon-img-choice {
	display: flex;
	align-items: flex-end;
	position: relative;
	right: 30px;
	top: -5px;
}

.icon-write-edit {
	position: absolute;
	margin-left: 3px;
	width: 20px;
	height: 20px;
	margin-bottom: 5px;
	background-color: #ffffff;
	cursor: pointer;
}

.circle-edit {
	position: absolute;
	background-color: #FF6C9E;
	border-radius: 20px;
	width: 28px;
	height: 28px;
}

#login-id {
	background-color: #EBEBEB;
	color: #979797;
}

.member-name {
	font-weight: bold;
	font-size: 16px;
	padding: 5px;
}

.member-grade {
	background-color: #FFBFCF;
	border-radius: 20px;
	width: 60px;
	height: 24px;
	text-align: center;
	line-height: 24px;
}

.member-name-grade {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1px 10px;
}

.edit-button-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.edit-button-box {
	padding: 20px;
}

.unregister {
	display: flex;
	justify-content: flex-end;

}

.img-edit {
	position: absolute;
	width: 30px;
	height: 30px;
}

.main-content {
	display: flex;
	flex-direction: column;
}

/* 회원탈퇴 modal */

#modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
	background: rgba(255, 255, 255);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	/* width: 400px;
    height: 500px; */
	width: 200px;
	height: 100px;
	position: relative;
	top: -100px;
	padding: 10px;
}

#modal .title {
	padding-left: 10px;
	display: inline;
	/* text-shadow: 1px 1px 2px gray; */
	color: #545454;

}

#modal .title h2 {
	display: inline;
	font-size: 16px;
}

#modal .close-area .del-btn {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: #545454;
}

#modal .content {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0px 10px;
	/* text-shadow: 1px 1px 2px gray; */
	color: rgb(0, 0, 0);
}

.button-wrap {
	display: flex;
	justify-content: space-evenly;
}

@media (min-width: 993px) {

	.main-content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		/* gap:30px;*/
		padding-top: 20px;
	}

	.menu-box {
		display: inline-block;
		padding-top: 55px;
	}

	.edit {
		padding: 50px 120px 50px 100px;
		display: flex;
	}

	.my-account-edit {
		display: flex;
		padding-bottom: 20px;
		border-bottom: 0.5px solid rgb(191, 191, 191);
		height: 15px;
		width: 340px;
	}

	.member-grade {
		margin: 0 auto;
	}

	/* .btn-unregister{
		width: 65px;
    	height: 25px;
    	font-size: 11px;
	}
	.unregister{
		position: relative;
    left: 108px;
	} */

}