.reg-list-box > div{
    margin: 0 auto;
   
}

.reg-list-box > input{
    margin: 0 0;
    justify-content: center;
    margin-left: 10px;
}
.reg-list form>h1{
    text-align: center;
    padding-bottom: 18px;

}
.reg-list-input-box{
    padding-bottom: 10px;
    gap:4px;
}
.reg-list-input-box>div{
    gap: 10px;
/*     flex-wrap: wrap; */
    justify-content: center;
    
}

.reg-button-box{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    gap : 20px;
/*     height:35px; */
}

.unregister{
    display: flex;
    justify-content: end;
    padding-top: 200px;
}




/*  */
.toggle{
    display: flex;
    width: 320px;
    height: 37px;
    margin-top: 50px;
    margin-bottom: 9px;
    /* text-align: center; */
    border: 1px solid #969696;
    border-radius: 15px;
    line-height : 37px;
    align-items: center;

}

.toggle > h1{
    font-size: 16px;
    padding-left: 15px;
    padding-right: 200px;
    
    /* line-height : 37px; */
}

.account{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account>h1{
    padding-bottom: 5px;
    border-bottom: 2px solid #B9B9B9;
}

.corp-edit-box{
    width:100px;
    height: 100px;
    border-radius: 70px;
    padding-top: 30px;
    position: relative;
    
}

.edit-img{
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100%;
   border-radius: 100px;
}

.edit-icon{
    width: 30px;
    height: 30px;
    background : url("../../../image/write-on.png") no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    
}

.member{
    
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.member-profile{
    display: flex;
    justify-content: center;
}
.member-profile-img{
    /* 일단회원이미지입니다 */
    border-radius: 70px;
    border: 0.5px solid #575757;
    width: 120px;
    height: 120px;
    display: flex;
    object-fit: cover;
   
}
.icon-img-choice{
display: flex;
align-items: flex-end;
position: relative;
right: 30px;
top: -5px;
}
.icon-write-edit{
    position: absolute;
   margin-left: 3px;
   width: 20px;
   height: 20px;
   margin-bottom: 5px;
   background-color: #ffffff;
   cursor: pointer;
}
.circle-edit{
    position: absolute;
    background-color:#FF6C9E;
    border-radius: 20px;
    width: 28px;
    height: 28px; 
}
.member-name{
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}
.member-grade{
    background-color: #414141;
    border-radius: 20px;
    width: 60px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color:#fff;
    margin: 0 auto;
}
.member-name-grade{
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:1px 10px;
}





/* 전시관 이름 */
.exh-name{
    font-size: 18px;
    font-weight: 600;
    /* justify-content: center; */

    margin : 5px 0;
    /* margin: auto; */
    text-align: center;
    
}

/* roleId */
.corpMem{
    background-color: #414141;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    width: 63px;
    height: 24px;
    line-height: 24px;

    text-align: center;
    margin: auto;

}


.icon-arrow-toggle-down{
    -webkit-mask-size: 15px 15px;
    height: 0;
    cursor: pointer;
}

.icon-arrow-toggle-up{
    -webkit-mask-size: 15px 15px;
    height: 0;
    cursor: pointer;
}

/* 회원탈퇴 modal */

#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
/*     background: rgba(255, 255, 255); */
/*     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
/*     backdrop-filter: blur( 13.5px ); */
/*     -webkit-backdrop-filter: blur( 13.5px ); */
/*     border-radius: 10px; */
/*     border: 1px solid rgba( 255, 255, 255, 0.18 ); */
/*     width: 200px; */
/*     height: 100px; */
/*     position: relative; */
/*     top: -100px; */
/*     padding: 10px; */

	position: fixed;
    box-shadow: 0px 0px 19px 1px rgb(31 38 135 / 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 200;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 7rem;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    padding: 1rem;
    border: 1px solid #a9a9a996;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

#modal .title {
    padding-left: 10px;
/*     display: inline; */
    /* text-shadow: 1px 1px 2px gray; */
    color: #545454;
}

#modal .title h2 {
    display: inline;
    font-size : 16px;
}

#modal .close-area .del-btn{
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: #545454;
}

#modal .content {
    margin-top: 20px;
    margin-bottom:20px;
    padding: 0px 10px;
    /* text-shadow: 1px 1px 2px gray; */
    color: rgb(0, 0, 0);
}

.button-wrap{
/* 	margin-left: 100px; */
}

/* 모바일에서는 안보이게 */
.my-account-edit {
	display:none;	
}

.password-confirm{
      padding-left: 10px;
}

/*  비밀번호 유효성 및 정규식 */
.passwordFialure-message, 
.chkFialure-message{
	color: #ff4e4e;
    padding-left: 5px;
}

.passwordSuccess-message, 
.chkSuccess-message{
	color: #268e48;
    padding-left: 5px;
	
}



@media (min-width: 993px) {
	main{
		width:1000px;
	}
	
	.profile-img-box{
	    justify-content: center;
	}
	
	.my-account-edit {
	    display: flex;
/* 	    padding-left: 15px; */
	    padding-bottom: 10px;
	}
	
	.content-wrap{
		display:flex;
		margin-top: 80px;
		justify-content: space-between;
	}
	
	
	.reg-list{
/* 		margin : auto; */
		width: 730px;
	}
	
	.title-box {
		display: flex;
	    justify-content: flex-start;
	    /* border-bottom: 1px solid black; */
	    width: 100%;
	}
	
	.toggle{
	    width: 480px;
	    height: 42px;
	    border: 1px solid #969696;
	}
	
	
/* 	modal */
    #modal .modal-window {
		width: 20%;
    	height: 7rem;
    }
    
    #modal .title{
    	padding-top: 10px;
    	font-size : 20px;
    }
    
    #modal .title h2{
    	font-size : 20px;
    }
    
    #modal .content{  	
    	margin-bottom : 35px;
 		font-size : 16px;
    }
    
    .toggle > h1 {
	    padding-right: 345px;
	    cursor: pointer;
    }
    
    .reg-list-input-box {
    	flex-direction: row;
    	width:466px;
    }
    
    .reg-list-input-box>label{
		padding-left: 7px;
		width:115px;
	}
	
	.reg-list-input-box>div{
		justify-content: end;
/*     	flex-direction: column; */
	}
	
	.address{
		width: 256px;
	}
	
	.addressDetail{
/* 	    margin-left: 132px; */
	}
	
	.password-confirm{
/* 	    display: flex; */
/* 	    justify-content: center; */
/* 	    padding-right: 42px; */
        padding-left: 137px;
	}
	
	.reg-list-box > input {
		margin-left: 135px;		
	}

}








