<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">

    <th:block layout:fragment="css">
	    <link href="../../css/component/sub-menu.css" type="text/css" rel="stylesheet">
	    <link href="../../css/component/reg.css" type="text/css" rel="stylesheet">
	    <link href="../../css/corporator/mypage/account-edit.css" type="text/css" rel="stylesheet">
		
		<script src="../../js/header-menu.js"></script>
		<script src="../../js/corporator/mypage/account-edit.js"></script>
	</th:block>
<body layout:fragment="content"> 
    
    <main>
    <div class="content-wrap">
    	
    
    
        <div class="menu-box">
        <div class="profile-box">
       		<div class="profile-content">
                <div class="profile-img-box" >
<!--                <img th:src="@{|/image/${board.image}|}" class="input-image-button input-image-button1"> -->
                    <img  class="profile-img" src="../../../image/camera.svg">
                </div>
                <div>
	                <div class="profile-name"> 
	                    <span th:text="${user.museumName} +' 님'">1004님</span>
	                </div>
	                <div class="member-grade">업체회원</div>
                </div>
            </div>
         </div>
            <ul class="menu-list">
                <li class="list"><a class="deco deco-ticket" href="/corp/exh/list">나의 등록전시</a></li>
                <li class="list line-on"><a class="deco deco-smile deco-ticket-on" href="/corp/mypage/account-edit">내 정보 수정</a></li>
            </ul>
        </div>

        
        <!-- 사업자 정보 -->
        
        <section class="reg-list"> 
            <h2 class="my-account-edit">내 정보 수정</h2>
            <form action="/corp/mypage/account-edit" method="post" enctype="multipart/form-data">
                <div class="form-wrap">
                    <div class="member">   
                        <div class="member-profile"> 
                            <img th:src="${corporate.img)==null ? '../../image/회원기본이미지.svg": @{/image/{img}(img=${corporate.img})}" src="../../image/회원기본이미지.svg" class="member-profile-img img-input">
                            <div class="icon-img-choice">
                                <div class="circle-edit"></div>
<!--                             <input name="img" type="file" src="../../image/icons/icon-edit.svg" class="icon icon-write icon-write-edit file-input"> -->
                            <input name="hi"  type="file" src="../../image/icons/icon-edit.svg" class=" icon icon-write icon-write-edit file-input">
                            </div>
                        </div>
                        <div class="member-name-grade">
                            <div class="member-name" th:text="${user.museumName}">현대미술관</div>
                            <div class="member-grade">업체회원</div>
                        </div>
                    </div>
                    
                    <div class="toggle">
                        <h1 class="accordion-header">사업자 정보</h1>
                        <div class="icon arrow-icon icon-arrow-toggle-down"></div> 
                    </div>

                    <section class="reg-list-box accordion-content"> 
                        
	                        <div class="reg-list-input-box">
	                            <label for="exh-name">전시관 이름</label>
	                            <div>
	                            	<input name="name" id="exh-name" type="text" class="input input-lg input-unable" th:value="${user.museumName}" value="국립현대미술관" disabled>
	                        	</div>
	                        </div>
                        

                        <div class="reg-list-input-box">
                            <label for="ceo-name">대표자명</label>
                            <div>
                            	<input name="ceoName" id="ceo-name" type="text" required class="input input-lg" th:value="${user.ceoName}" value="뉴렉처" spellcheck="false">
                        	</div>
                        </div>
                        
                        <div class="reg-list-input-box">
                            <label for="corp-name">법인명</label>
                            <div>
                            <input name="name" id="corp-name" type="text" class="input input-lg" th:value="${user.name}" value="전시" spellcheck="false">
                        	</div>
                        </div>
                        <div class="reg-list-input-box">
                            <label for="corp-phone">대표 전화번호</label>
                            <div>
                            	<input name="phone" id="corp-phone" type="text" required class="input input-lg" th:value="${user.phone}" value="02-4561-5412" spellcheck="false">
                        	</div>
                        </div>

                        <div class="reg-list-input-box">
                            <label for="business-num">사업자 번호</label>
                            <div>
                           		<input  name="businessNum" id="business-num" type="text" required class="input input-lg" th:value="${user.businessNum}" value="12345-78965" spellcheck="false">
                        	</div>
                        </div>      
                        
                        <div class="reg-list-input-box">
                            <label for="address">전시관 주소</label>
                            <div>
                                <input name="address" id="login-id" type="text" required class="input input-md-2" th:value="${user.address}" value="" spellcheck="false">
                                <button class="btn btn-default btn-default-fill-off">주소검색</button>
	                            <input name="addressDetail" id="address-detail" type="text" class="input input-lg" value="" placeholder="" spellcheck="false">
                            </div>
                        </div>
            
                    </section>

                    <!-- 담당자 정보 -->
                    <div class="toggle">
                        <h1 class="accordion-header">담당자 정보</h1>
                        <div class="icon arrow-icon icon-arrow-toggle-up"></div>
                    </div>
                    
                    <section class="reg-list-box accordion-content d-none">
                        <div class="reg-list-input-box">
                            <label for="login-id">아이디</label>
                            <div>
                            	<input name="loginId" id="login-id" type="text" required class="input input-lg input-unable" th:value="${user.username}" value="hihi123" disabled >
                        	</div>
                        </div>
                        <div class="reg-list-input-box">
                            <label for="manager">이름</label>
                            <div>
                            	<input  name="manager" id="name" type="text" class="input input-lg" th:value="${user.manager}" value="홍길동" spellcheck="false">
                        	</div>
                        </div>
                        
                        <div class="reg-list-input-box">
                            <label for="password">비밀번호</label>
                            <div>
                            	<input name="password" id="password" type="password" class="input input-lg"  placeholder="영문자, 숫자, 특수문자 포함 8자 이상" >
                        	</div>
                        </div>

                        <div class="reg-list-input-box">
                            <label for="password-check">비밀번호 확인</label>
                            <div>
                            	<input name="password-check" id="password-check" type="password" class="input input-lg" placeholder="영문자, 숫자, 특수문자 포함 8자 이상">
                        	</div>
                        </div>                
                        <div class="reg-list-input-box">
                            <label for="email">이메일</label>
                            <div>
                            	<input name="email" id="email" type="email" class="input input-lg" th:value="${user.email}" value="hihi123@naver.com" spellcheck="false">
                        	</div>
                        </div>
                        <div class="reg-list-input-box">
                            <label for="phone">휴대폰</label>
                            <div>
                            	<input name="managerPhone" id="phone" type="text" class="input input-lg" th:value="${user.managerPhone}" value="" spellcheck="false">
                        	</div>
                        </div>
               
                    </section>

	                    <!-- 저장 / 취소 버튼 / 회원탈퇴-->
	                    <div class="reg-button-box">
	                        <button type="submit" class="btn btn-default btn-default-fill btn-size-1 save-btn">저장</button>
	<!--                         <button onclick="" type="submit" class="btn btn-default-fill btn-size-1">취소</button> -->
	                    </div>    
                </div>
            </form>
                <div class="unregister">
                    <button type="submit" class="btn-unregister">회원 탈퇴</button>
                </div>
                 
                <!-- 회원탈퇴 modal -->
                	<div id="modal" class="modal-overlay">
		                 <div class="modal-window">
			                 <div class="title">
			                     <h2>회원탈퇴</h2>
			                 </div>
			                 <div class="content">정말 탈퇴하시겠습니까?</div>
			                 <div class = "button-wrap">
			                     <a href="account-edit/delete"><button class="btn btn-default del-btn" type="submit" >탈퇴</button></a>
			                     <button class="btn btn-default-line cancel-btn" type="button">취소</button>
			                 </div>
		                 </div>
		             </div>   
                 
        </section>
    </div>
    </main>

</body>
</html>