<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">
    
    <th:block layout:fragment="css">
	    <link href="../../css/corporator/mypage/exh-list.css" type="text/css" rel="stylesheet">
	    <link href="../../css/component/sub-menu.css" type="text/css" rel="stylesheet">
	    	<link href="../../css/member/mypage/booking-list.css" type="text/css" rel="stylesheet">
	    	<script src="/js/corporator/mypage/exh-list.js"></script>
  	 </th:block>


<body id="body" layout:fragment="content">
 
    <main>
    	<div class="main-content">
	    	<div class="menu-box">
	            <div class="profile-box">
	                <div class="profile-content">
	                    <div class="profile-img-box" >
	                        <img class="profile-img" src="../../image/camera.svg"  th:src="@{|/image/${user.img}|}">
	                    </div>
	                    <div class="profile-name">
	                        <span th:text="${user.username}+' 님'">1004님</span>
	                    </div>
	                    <div class="member-grade-corp">
                        	업체회원
                    	</div>
	                </div>
	            </div>
	            <ul class="menu-list">
	                <li class="list line-on"><a class="deco deco-ticket deco-ticket-on" href="/corp/exh/list">나의 등록전시</a></li>
	                <li class="list"><a class="deco deco-smile" href="/corp/mypage/account-edit">내 정보 수정</a></li>
					<li class="list"><a class="deco deco-write" href="/corp/exh/reg">전시 등록</a></li>
	               

	            </ul>
	            
<!-- 	            ============================== -->
<!-- 	            <div class="exh-menu-list"> -->

<!--                   <select name="" id="selectexhibition" class="pl select-box" data-id="0" -->
<!--                      onchange="selectexh(this)"> -->

<!--                      <option class="" value="exh-total" selected data-id="0" >전체</option> -->


<!--                      <option class="option-2" data-id="1" value="exh-ing">전시중</option> -->
<!--                      <option class="option-2" data-id="2" value="exh-according">전시예정</option> -->
<!--                      <option class="option-2" data-id="3" value="exh-end">전시종료</option> -->
<!--                   </select> -->
<!--                </div> -->
 <!-- 	            ============================== -->
	            
	        </div>
	    	<div>
		    	<h2 class="my-reg">나의 등록전시</h2>
		    	
		        <div class="total-box-wrapper">
		        <div class="total-box">
		            <span class="text total" >Total :&nbsp</span><span class="text total-num" th:text="${countOfExh}"></span>
		        </div>
		        
		        <div class="go-reg" th:if="${countOfExh}==0">
		            <p class="do-not-exist"> 등록된 전시가 없습니다.</p>
		            <a class="btn btn-default-fill btn-go-reg" href="/corp/exh/reg" >전시등록하러 가기</a>
		        </div>
			<div class="exh-list-tong">
		        <div class="exh-list" th:each="list:${list}" >
		            <form action="">
		
		                <div class="exh-img-box">
		                    <a href="" th:href="@{{id}(id=${list.id})}" ><img th:src="@{|/image/poster/${list.poster}|}" class="exh-img" src="../../image/exhimage.png" alt=""></a>
		                </div>
<!-- 		                <div class="text exh-state exh-ing" th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">전시중</div> -->
		                <div class="text exh-state exh-ing" th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')} < ${list.endDate} ?  '전시중' : '전시종료' " th:style="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')} < ${list.endDate} ?  'color:#FF5171;' : 'color:#545454;' ">전시중</div>
		                <div class="text exh-title" th:text=${list.name}>모네 인사이드</div>
		                <div class="text exh-author" th:text="'author. '+${list.artist}">author. 양작가 </div>
		                <div class="text exh-date" th:text="${list.startDate} +' ~ '+ ${list.endDate}">2022.09.22 ~ 2099.12.25</div>
		
		            </form>
		        </div>
		    </div>
		    </div>
	         <button class="text item-more" th:if="${countOfExh}>6">
		        	<div>더보기</div>
		        </button>
	        
	        </div>
	        
	    </div>    
    </main>
    
	
</body>
</html>