<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exh-modify</title>
    <link href="../../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../../css/deco.css" type="text/css" rel="stylesheet">
    <link href="../../css/style.css" type="text/css" rel="stylesheet">


    <link href="../../css/component/reg.css" type="text/css" rel="stylesheet">
    <link href="../../css/component/sub-menu.css" type="text/css" rel="stylesheet">
    <link href="../../css/icon.css" type="text/css" rel="stylesheet">
    <link href="../../css/button.css" type="text/css" rel="stylesheet">
    <link href="../../css/form.css" type="text/css" rel="stylesheet">
    <link href="../../css/input.css" type="text/css" rel="stylesheet">

    <link href="../../css/header.css" type="text/css" rel="stylesheet">
    <link href="../../css/footer.css" type="text/css" rel="stylesheet">
    <link href="../../css/corporator/mypage/exh-reg.css" type="text/css" rel="stylesheet">
    <!-- <link href="../../css/member/mypayment.css" type="text/css" rel="stylesheet"> -->

    <link href="../../css/utils.css" type="text/css" rel="stylesheet">

</head>

<script src="../../js/header-menu.js"></script>
<script src="../../js/corporator/mypage/exh-reg.js"></script>

<body>
    <header class="header">
        <section class="header-wrapper">
            <div class="header-box">
                <h1 class="logo"><a href="">Art Agit</a></h1>
                <ul class="d-none">
                    <!-- <li><a href="">전시</a></li>
                    <li><a href="">커뮤니티</a></li>
                    <li><a href="">로그인</a></li> -->
                </ul>
                <div>
                    <a class="icon icon-menu burger-nav" href="">확장메뉴</a>
                </div>
            </div>
            <div class="sub-menu-box">
                <div class="sub-menu">
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="">전시</a></li>
                            <li><a href="">커뮤니티</a></li>
                            <li><a href="">-</a></li>
                        </ul>
                    </div>
                    <div class="sub-menu-2">
                        <ul>
                            <li><a href="">로그인</a></li>
                            <li><a href="">검색</a></li>
                            <li><a href="">고객센터</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <main id="exh-modify-main">
        <div class="title-box">
            <h1>전시 정보 수정</h1>
        </div>


        <div class="exh-reg-list">


            <div class="step">

                <div class="circle">
                    <div class="circle-on " id="first-circle">1</div>
                    <div>기본정보</div>
                </div>

                <div class="circle">
                    <div class="circle-on circle-off" id="second-circle">2</div>
                    <div>상세정보</div>
                </div>

                <div class="circle">
                    <div class="circle-on circle-off" id="third-circle">3</div>
                    <div>전시설명</div>
                </div>

            </div>
	<form action="insert" method="post">
            <div class="page1">

                <div class="reg-list-page">
                    <section class="reg-list">
                        <div class="reg-list-input-box">
                            <label for="">전시명</label>
                            <input name="name" type="text" class="input input-lg">
                        </div>
                        <div class="reg-list-input-box">
                            <label for="">작가</label>
                            <input name="artist" type="text" class="input input-lg">
                        </div>
                        <div class="reg-list-input-box">
                            <label for="">전시장소</label>
                            <input th:value="${user.museumName}"  type="text" class="input input-lg">
                        </div>
                        <div class="reg-list-input-box">
                            <label for="">지역상세</label>
                            <input th:value="${user.address}" type="search" class="input input-lg">
                        </div>
                        <div class="reg-list-input-box">
                            <label for="">전시기간</label>
                            <div>
                                <div class="exhibition-input-date">
                                    <input name="startDate" type="date" class="input input-sm">
                                    <!-- <a class="icon icon-calendar" href="">달력</a> -->
                                </div>
                                <span>~</span>
                                <div class="exhibition-input-date">
                                    <input name="endDate" type="date" class="input input-sm">
                                    <!-- <a class="icon icon-calendar" href="">달력</a> -->
                                </div>
                            </div>
                        </div>
                        <div class="reg-list-input-box">
                            <label for="">관람시간</label>
                            <div>
                                <input name="startTime" type="time" class="input input-sm">
                                <span>~</span>
                                <input name="endTime" type="time" class="input input-sm">
                            </div>
                        </div>
                        <div class="price-count">
                            <div class="reg-list-input-box">
                                <label for="">관람료</label>
                                <div>
                                    <input name="ticketPrice" type="number" class="input input-md-3">
                                    <span>(단위: 원)</span>
                                </div>
                            </div>
                            <div class="reg-list-input-box">
                                <label for="">재고</label>
                                <div>
                                    <input name="ticketStock" type="number" class="input input-md-3"
                                        placeholder="(무제한: 9999장)">
                                    <span>(단위: 장)</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>


                <div id="first-page-next">
                    <div class="exh-reg-button-box">
                        <a type="submit" class="btn-next" href="../../corporator/mypage/exh-reg.html"></a>
                    </div>
                </div>
            </div>


            

                <div class="reg-list-page2 d-none">
                    <section class="reg-list">

                        <div class="reg-list-input-box">
                            <label for="">주최</label>
                            <input name="museum.name" type="text" class="input input-lg">
                        </div>
                        <div class="reg-list-input-box">
                            <label for="">담당자</label>
                            <input th:value="${user.name}" name="manager" type="text" class="input input-lg">
                        </div>
                        <div class="reg-list-input-box">
                            <label for="">전화번호</label>
                            <input th:value="${user.phone}" name="phone" type="tel" class="input input-lg">
                        </div>

                    </section>
                </div>

                <div class="exh-reg-button-box-page2 d-none">
                    <div class="exh-reg-button-box">
                        <a type="submit" class="btn-before" id="btn-x" href="../../corporator/mypage/exh-reg.html"></a>
                        <a type="submit" class="btn-next" id="btn-y" href="../../corporator/mypage/exh-reg.html"></a>
                    </div>
                </div>
           





            <div class="reg-list-page3 d-none">
                <section class="reg-list">

                    <div class="reg-list-input-box">
                        <label for="">전시설명</label>
                        <textarea class="input" id="" name="" rows="15" cols="10" placeholder="내용을 입력해주세요."></textarea>
                    </div>
                    <div class="reg-list-input-box poster">
                        포스터 이미지
<!--                         <label for="input-image1" class="input-image-button"> -->
                            <img src="../../image/camera.svg" class="input-image-button input-image-button1">
<!--                             <div class="input-image-camera input-image-button1"></div> -->
                            <input name="poster" type="file" class="d-none" id="input-image1">
<!--                         </label> -->
                    </div>
                    <div class="reg-list-input-box detail">
                        상세 이미지
                        <div class="reg-list-input-box-image">
                            <!-- <label for="input-image2" class="input-image-button"> -->
                                <img src="../../image/camera.svg" class="input-image-button input-image-button2">
                                <input name="detailImage" type="file" id="input-image2" class="d-none">
                                <!-- <div class="input-image-camera"></div> -->
                            <!-- </label> -->
                            
                            <!-- <label for="input-image3" class="input-image-button"> -->
                                <img src="../../image/img-add.svg" class="input-image-button input-image-button3">
                                <input name="detailImage" type="file" id="input-image3" class="d-none">
                                <!-- <div class="input-image-addplus"></div> -->
                            <!-- </label> -->
                        </div>

                    </div>

                </section>
            </div>
            
            
            
            
            <div class="exh-reg-button-box-page3 d-none">
                <div class="exh-reg-button-box">
                    <a type="submit" class="btn-before" id="btn-z" href="../../corporator/mypage/exh-reg.html"></a>
                    <button type="submit" class="btn-default-fill-off btn-register" id="btn-z" onclick="alert('전시정보를 등록하시겠습니까?')">등록</button>
                </div>
            </div>
         </form>   
        </div>
        



    </main>
</body>

</html>