<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">
    
    <th:block layout:fragment="css">
	    <link href="../../css/corporator/mypage/exh-list.css" type="text/css" rel="stylesheet">
	    <link href="../../css/component/sub-menu.css" type="text/css" rel="stylesheet">
  	 </th:block>


<body id="body" layout:fragment="content">
 
    <main>
    	<div class="main-content">
	    	<div class="menu-box">
	            <div class="profile-box">
	                <div class="profile-content">
	                    <div class="profile-img-box" >
	                        <img class="profile-img" src="../../image/camera.svg">
	                    </div>
	                    <div class="profile-name">
	                        <span th:text="${nickname}+' 님'">1004님</span>
	                    </div>
	                    <div class="member-grade">
                        	업체회원
                    	</div>
	                </div>
	            </div>
	            <ul class="menu-list">
	                <li class="list line-on"><a class="deco deco-ticket deco-ticket-on" href="/corp/exh/list">내가 등록한 전시</a></li>
	                
	                <li class="list"><a class="deco deco-smile" href="/corp/account-edit" >내 정보 수정</a></li>
	                
	            </ul>
	        </div>
	    	<div>
		    	<div class="my-reg">내가 등록한 전시</div>
		    	
		        
		        <div class="total-box">
		            <span class="text total" >Total :&nbsp</span><span class="text total-num" th:text="${countOfExh}"></span>
		        </div>
		        
		        <div class="go-reg" th:if="${countOfExh}==0">
		            <p>등록된 전시가 없습니다.</p>
		            <button class="btn btn-default-fill btn-go-reg">전시등록하러 가기</button>
		        </div>
			<div class="exh-list-tong">
		        <div class="exh-list" th:each="list:${list}" >
		            <form action="">
		
		                <div class="exh-img-box">
		                    <a href="" th:href="@{{id}(id=${list.id})}" ><img th:src="@{|/image/poster/${list.poster}|}" class="exh-img" src="../../image/exhimage.png" alt=""></a>
		                </div>
		                <div class="text exh-state exh-ing">전시중</div>
		                <div class="text exh-title" th:text=${list.name}>모네 인사이드</div>
		                <div class="text exh-author" th:text="'author. '+${list.artist}">author. 양작가 </div>
		                <div class="text exh-date" th:text="${list.startDate} +' ~ '+ ${list.endDate}">2022.09.22 ~ 2099.12.25</div>
		
		            </form>
		        </div>
		    </div>
	        
	        
	        </div>
	        
	    </div>    
    </main>
    
</body>
</html>