<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{inc/layout}">

<th:block layout:fragment="css">
    <link href="/css/component/reg.css" type="text/css" rel="stylesheet">
    <link href="/css/component/sub-menu.css" type="text/css" rel="stylesheet">

    <link href="/css/corporator/mypage/exh-reg.css" type="text/css" rel="stylesheet">
    <script src="/js/corporator/mypage/exh-reg.js"></script>
</th:block>

<body layout:fragment="content">

    <main id="exh-reg-main">

        <div class="main-contents">

            <div class="menu-box exh-reg">
                <div class="profile-box">
                    <div class="profile-content">
                        <div class="profile-img-box">
                            <img th:src="@{|/image/${user.img}|}" class="profile-img" src="../../../image/camera.svg">
                        </div>
                        <div>
                            <div class="profile-name">
                                <span th:text="${user.museumName}+' 님'">1004님</span>
                            </div>
                            <div class="member-grade">
                                업체회원
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="menu-list">
                    <li class="list line-on"><a class="deco deco-ticket deco-ticket-on" href="">전시 등록</a></li>

                    <li class="list"><a class="deco deco-smile" href=".././mypage/account-edit">내 정보 수정</a></li>
                </ul>
            </div>



            <div class="sub-contents">
                <div class="exh-reg-list">
                    <h2 class="my-exh-reg">전시 등록</h2>

                    <div class="step">

                        <div class="circle">
                            <div class="circle-on " id="first-circle">1</div>
                            <div>기본정보</div>
                        </div>

                        <div class="circle">
                            <div class="circle-on circle-off" id="second-circle">2</div>
                            <div>상세정보</div>
                        </div>

                        <div class="circle">
                            <div class="circle-on circle-off" id="third-circle">3</div>
                            <div>전시설명</div>
                        </div>

                    </div>
                    <form action="/corp/exh/insert" method="post" enctype="multipart/form-data">
                        <div class="page1">

                            <div class="reg-list-page">
                                <section class="reg-list">
                                    <div class="reg-list-input-box">
                                        <label for="">전시명</label>
                                        <input name="name" type="text" class="input input-lg" spellcheck="false">
                                    </div>
                                    <div class="reg-list-input-box">
                                        <label for="">작가</label>
                                        <input name="artist" type="text" class="input input-lg" spellcheck="false">
                                    </div>
                                    <div class="reg-list-input-box">
                                        <label for="">전시장소</label>
                                        <input th:value="${user.museumName}" type="text" class="input input-lg"
                                            spellcheck="false">
                                    </div>
                                    <div class="reg-list-input-box">
                                        <label for="">지역상세</label>
                                        <input th:value="${user.address}" type="text" class="input input-lg"
                                            spellcheck="false">
                                    </div>
                                    <div class="reg-list-input-box">
                                        <label for="">전시기간</label>
                                        <div>
                                            <div class="exhibition-input-date">
                                                <input name="startDate" type="date" class="input input-sm">
                                                <!-- <a class="icon icon-calendar" href="">달력</a> -->
                                            </div>
                                            <span>~</span>
                                            <div class="exhibition-input-date">
                                                <input name="endDate" type="date" class="input input-sm">
                                                <!-- <a class="icon icon-calendar" href="">달력</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reg-list-input-box">
                                        <label for="">관람시간</label>
                                        <div>
                                            <input name="startTime" type="time" class="input input-sm">
                                            <span>~</span>
                                            <input name="endTime" type="time" class="input input-sm">
                                        </div>
                                    </div>
                                    <div class="price-count">
                                        <div class="reg-list-input-box">
                                            <label for="">관람료</label>
                                            <div>
                                                <input name="ticketPrice" type="number" class="input input-md-3">
                                                <span>(단위: 원)</span>
                                            </div>
                                        </div>
                                        <div class="reg-list-input-box">
                                            <label for="">재고</label>
                                            <div>
                                                <input name="ticketStock" type="number" class="input input-md-3"
                                                    placeholder="(무제한: 9999장)">
                                                <span>(단위: 장)</span>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>


                            <div id="first-page-next">
                                <div class="exh-reg-button-box">
                                    <a type="submit" class="btn-next" href="../../corporator/mypage/exh-reg.html"></a>
                                </div>
                            </div>
                        </div>




                        <div class="reg-list-page2 d-none">
                            <section class="reg-list">

                                <div class="reg-list-input-box">
                                    <label for="">주최</label>
                                    <input th:value="${user.museumName}" name="museum.name" type="text"
                                        class="input input-lg">
                                </div>
                                <div class="reg-list-input-box">
                                    <label for="">담당자</label>
                                    <input th:value="${user.manager}" name="manager" type="text" class="input input-lg">
                                </div>
                                <div class="reg-list-input-box">
                                    <label for="">전화번호</label>
                                    <input th:value="${user.phone}" name="phone" type="tel" class="input input-lg">
                                </div>

                            </section>
                        </div>

                        <div class="exh-reg-button-box-page2 d-none">
                            <div class="exh-reg-button-box">
                                <a type="submit" class="btn-before" id="btn-x"
                                    href="../../corporator/mypage/exh-reg.html"></a>
                                <a type="submit" class="btn-next" id="btn-y"
                                    href="../../corporator/mypage/exh-reg.html"></a>
                            </div>
                        </div>






                        <div class="reg-list-page3 d-none">
                            <section class="reg-list">

                                <div class="reg-list-input-box">
                                    <label for="">전시설명</label>
                                    <textarea class="input" id="" name="content" rows="15" cols="10"
                                        placeholder="내용을 입력해주세요." spellcheck="false"></textarea>
                                </div>

                                <div class="reg-list-input-box">
                                    <label for="">전시 URL</label>
                                    <input name="homepage" type="text" class="input input-lg" spellcheck="false">
                                </div>

                                <div class="reg-list-input-box poster">
                                    포스터 이미지
                                    <img src="../../image/camera.svg" class="input-image-button input-image-button1">
                                    <input name="poster[]" type="file" class="d-none" id="input-image1">
                                </div>

                                <div class="reg-list-input-box detail reg-list-input-box-image">
                                    상세 이미지
                                    <img src="../../image/camera.svg" class="input-image-button input-image-button2">
                                    <input name="poster[]" type="file" id="input-image2" class="d-none">
                                </div>


                            </section>
                        </div>

                        <div class="exh-reg-button-box-page3 d-none">
                            <div class="exh-reg-button-box">
                                <a type="submit" class="btn-before" id="btn-z"
                                    href="../../corporator/mypage/exh-reg.html"></a>
                                <button type="submit" class="btn-default-fill-off btn-register" id="btn-z">등록</button>
                            </div>

                            <div id="modal" class="modal-overlay modalregister">
                                <div class="modal-window">
                                    <div class="title">
                                        <h2>전시등록</h2>
                                    </div>
                                    <div class="content">전시를 등록하시겠습니까?</div>
                                    <div class="button-wrap">
                                        <a href="./exh-list"><button class="btn btn-default del-btn ok-btn modal-btn">확인</button></a>
                                        <button class="btn btn-default-line register-cancel-btn modal-btn" type="button">취소</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>