<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">
   <!-- ---------------------------------------------------------------------->
    <title>ID찾기</title>
    <th:block layout:fragment="css">
	    <link href="../css/find-id.css" type="text/css" rel="stylesheet">
	    <script src="../../js/header-menu.js"></script>
	    <script src="../../js/find-id.js"></script>
	</th:block>


<body layout:fragment="content">
    <main>
    	<!---------------- 모바일ver 상단메뉴 ---------------->
        <div class="find-box">
            <a class="text find find-id select-on" href=""></a>
            <a class="text find find-pw" href="./find-pw.html"></a>
        </div>
        
        <!---------------- 피씨ver 상단메뉴 ---------------->
		<div class="flow-btn-box">
            <div class="flow-item">
                <a class="sm-text" href="/">HOME</a>
            </div>
            <div class="arrow-box">
                <a class="icon icon-arrow-right icon-arrow-right-sm" href="">다음</a>
            </div>
            <div class="flow-item">
                <a class="sm-text" href="/user/login">로그인</a>
            </div>
            <div class="arrow-box">
                <a class="icon icon-arrow-right icon-arrow-right-sm" href="">다음</a>
            </div>
            <div class="flow-item">
                <a class="sm-text go-exh-detail" href="/user/find-id">아이디 찾기</a>
            </div>
        </div>

        <!---------------- ID 찾기 ---------------->
        <div class="find-content-box find-id-box">
            <form action="" class="input-box id-box">
                <label class="text find-email">아이디 찾기</label>
                <span>회원가입 시 입력했던 정보를 확인합니다.</span>
                <input class="input input-lg input-border input-white name-input" name="name" type="text" placeholder="이름">
                <p>* 사업자 회원은 전시관 명을 입력해주세요.</p>
                <input class="input input-lg input-border input-white email-input" name="email" type="text" placeholder="이메일">
            	<p class="msg"></p>
            </form>
            
            <div class="btn-box mg-0">
                <input class="btn btn-default btn-default-fill submit-btn" type="submit" value="확인">
            </div>
            <span class="text">아직 아트아지트 회원이 아니세요?</span>
            <a class="btn" href="/signup-choice">회원가입 바로가기</a>
        </div>

        <!---------------- ID 찾기 결과 ---------------->
        <div class="find-content-box find-result d-none">
            <div class="text-box">
                <span class="text">입력하신 정보와</span>
                <span class="text">일치하는 아이디입니다.</span>
            </div>

            <div class="result-box">
                <span class="">아트아지트 ID</span>
                <span class="mem-id">gilddong2</span>
            </div>

            <a class="btn btn-default btn-default-fill" href="./login.html">로그인</a>
        </div>
    </main>
</body>
</html>