.text {
    color: #545454;
    font-size: 14px;
}

.flow-btn-box {
    display: flex;
    align-items: center;
    margin-left: 13px;
    margin-top: 30px;
    margin-bottom: 8px;
}

.arrow-box {
    margin: 0 8px;
}

.go-exh-detail {
    color: #F7A7BB;
}

.mini-menu-list {
    padding: 10px 10px 0px 0px;
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    /* font-weight: bold; */
}

li {
    margin-right: 10px;
}

.like-num {
    color: #E14705;
    font-weight: 500;
    margin: 0 5px 0 3px;
}

.exh-info form { 
    /* 2 x 7 */
    margin-left: 15px;
    display: grid;
    grid-template: "title title" 35px
                    "exh-author author" 24px
                    "exh-place place" 24px
                    "exh-date date" 24px
                    "exh-time time" 24px
                    "exh-phone phone" 24px
                    "exh-addr addr" 24px / 75px;
}

.exh-author, .exh-place, .exh-date, .exh-time, .exh-phone, .exh-address {
    font-weight: 600;
}

form>h1 {
    grid-area: title;
    font-size: 20px;
    font-weight: 500;
}

.exh-author {
    grid-area: exh-author;
}

.author {
    grid-area: author;
}

.exh-place {
    grid-area: exh-place;
}

.place {
    grid-area: place;
}

.exh-date {
    grid-area: exh-date;
}

.date {
    grid-area: date;
}

.exh-time {
    grid-area: exh-time;
}

.time {
    grid-area: time;
}

.exh-phone {
    grid-area: exh-phone;
}

.phone {
    grid-area: phone;
}

.exh-addr {
    grid-area: exh-addr;
} 

.addr {
    grid-area: addr;
}

.hpg-box {
    margin: 30px 0px 60px 0px;
    display: flex;
    justify-content: center;
}

.exh-img-box {
    display: flex;
}

.exh-img {
    width: 100%;
    /* height: 100%; */
}

.exh-detail-img {
    width: 100%;
}

hr {
    background:rgba(157, 157, 157, 0.353);
    height:1px;
    border:0; 
}

.warning {
    height: 150px;
}