.deco {
    /* 박스 맞추기, 정렬을 할 때는 무족권 flex~ */
    /* 슈도엘리먼트로 만든 자식(아이콘)과 그 아래 자식인 문자('전체')를 정렬하려면 부모로 정렬을 해야한다. */
    /* 수직정렬 할 때는 align-items */
    color: #575757;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 5px 0;

}

.deco::before {
    content: '';
    width: 27px;
    height: 30px;
    margin-bottom: 3px;
    /* padding: .4em 0.8em; */
    /* display: flex; */
    /* margin: auto; */

    background-color: #575757;
    
    mask-size: 27px 30px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 27px 30px;
}

.deco-mini::before {
    width: 23px;
    height: 30px;
    mask-size: 23px 26px;
    -webkit-mask-size: 23px 26px;

    box-sizing: border-box;
}

.deco-ticket-on, .deco-heart-on, .deco-smile-on, .deco-write-on{
    color: #FF6B90;
}

.deco-ticket::before {
    mask-image: url(../image/ticket.svg); /* mask 속성 사용할 때 앞에 접두사(ex.webkit)을 안붙이면 현재 mask 기능이 지원되는 브라우저에서는 모두 적용이 된다. */
    -webkit-mask-image: url(../image/ticket.svg);
}

.deco-heart::before {
    mask-image: url(../image/heart.svg); 
    -webkit-mask-image: url(../image/heart.svg);
}

.deco-heart-red::before {
    mask-image: url(../image/heart-red.svg); 
    -webkit-mask-image: url(../image/heart-red.svg);
    background-color: rgb(255, 73, 73);
}

.deco-smile::before {
    mask-image: url(../image/smile.svg); 
    -webkit-mask-image: url(../image/smile.svg);
}

.deco-write::before {
    mask-image: url(../image/write.svg); 
    -webkit-mask-image: url(../image/write.svg);
}

.deco-url::before {
    mask-image: url(../image/icons/share.svg); 
    -webkit-mask-image: url(../image/icons/share.svg);
}

.deco-map::before {
    mask-image: url(../image/icons/location.svg);
    -webkit-mask-image: url(../image/icons/location.svg);
}


.deco-food::before{
    mask-image: url(../image/food.svg);
    -webkit-mask-image: url(../image/food.svg);

}

.deco-total::before{
    mask-image: url(../image/icons/total.svg);
    -webkit-mask-image: url(../image/icons/total.svg);

}
.deco-free::before{
    mask-image: url(../image/icons/free.svg);
    -webkit-mask-image: url(../image/icons/free.svg);

}
.deco-picture::before{
    mask-image: url(../image/icons/picture.svg);
    -webkit-mask-image: url(../image/icons/picture.svg);

}
.deco-together::before{
    mask-image: url(../image/icons/together.svg);
    -webkit-mask-image: url(../image/icons/together.svg);

}





/* =================================================== */
.my{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 160px;
    height: 50px;
    position: relative;
    left: 20px;
    padding-top: 10px;
}
.img1{
    position: relative;
    left: 30px;
    width: 110px; 
}
.img2{
    position: relative;
    left: 30px;
    width: 110px;
}
.myexh{

}
.myinfo{
    
}
.step-one{
    background-image: url(../image/stepOne.svg) ;
    background-repeat: no-repeat;
    
    left: 10px;
}


.step{
    display: flex;
    justify-content: space-around;

}
.circle{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.circle1{
    /* position: relative; */
    width: 43px;
    height: 42px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #FF6B90;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-off{
    background-color: #FFBFCF;
}
