<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">

 	<th:block layout:fragment="css">
		<link href="../css/login.css" type="text/css" rel="stylesheet">
		<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	</th:block>
 
<body layout:fragment="content">
    <main>
        <h1 class="welcome">
            안녕하세요.<br>
            아트아지트 입니다.
        </h1>

		<form action="login" method="post">
            <div class="hihi">
                <div class="login-type-option">
                    <div class="radio-wrap">
                        <input type="radio" name="role" id="memPers" value="ROLE_MEMBER" checked="checked">
                        <label for="memPers">일반 회원 로그인</label>

                    </div>    
                    
                    <div class="radio-wrap">
                        <input type="radio" name="role" id="memCorp" value="ROLE_CORP">
                        <label for="memCorp">사업자 회원 로그인</label>
                    </div>
                </div>

                <div class="login-input-wrap">
                    <div>
                        <input type="text" name="username" class="input input-lg input-border input-white" placeholder="아이디" title="아이디" >
                    </div>
                    <div>
                        <input type="password" name="password" class="input input-lg input-border input-white" placeholder="비밀번호(숫자,영문, 특수문자 8-12자리)" title="비밀번호">
                    </div>
                </div>
            </div>
            
<!--             <div th:if="${#authorization.expression('hasRole("ADMIN")')}" style="display:flex; justify-content:center; padding-bottom: 20px; color: red"> -->
<!--              	admin 아님 -->
<!--             </div> -->
            <div th:if="${param.error}" style="display:flex; justify-content:center; padding-bottom: 20px; color: red">
             	아이디 또는 비밀번호가 일치하지 않습니다.
            </div>
         

            <div>
                <button type="submit" class="btn btn-login">로그인</button> 
            </div>
        
            <ul class="find-wrap" id=" ">
                <li><a href="/user/find-id" class="find-text">아이디 찾기</a></li>
                <li><a href="/user/find-pw" class="find-text">비밀번호 찾기</a></li>
                <li><a href="/signup-choice" class="find-text">회원가입</a></li>
            </ul>

            <div class="line">간편 로그인</div>

            <div class="login-social">
                <a href="https://kauth.kakao.com/oauth/authorize?client_id=1b1ecb2d4d54ce53576dff3479bcf44d&redirect_uri=http://localhost:8080/user/login&response_type=code" class="simpleIcon"><img src="../image/kakao.svg" class="icon-img"></a>
                <a href="" class="simpleIcon"><img src="../image/naver.svg" class="icon-img"></a>
                <a href="/oauth2/authorization/google" class="simpleIcon"><img src="../image/facebook.svg" class="icon-img"></a>
            </div>
         </form>
    </main>
</body>
</html>